<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bugucms API 接口文档</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/lib/swagger/css/swagger-ui.css}">
    <link rel="icon" type="image/png" th:href="@{|/themes/${siteConfigDTO.webtheme}/favicon.ico|}"/>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{|/themes/${siteConfigDTO.webtheme}/favicon.ico|}">
    <style>
        html {
            box-sizing: border-box;
            overflow: -moz-scrollbars-vertical;
            overflow-y: scroll;
        }

        *, *:before, *:after {
            box-sizing: inherit;
        }

        body {
            margin: 0;
            background: #fafafa;
        }
    </style>
</head>

<body>

<div id="swagger-ui"></div>

<script th:src="@{/static/lib/swagger/js/swagger-ui-bundle.js}"></script>
<script th:src="@{/static/lib/swagger/js/swagger-ui-standalone-preset.js}"></script>
<script type="text/javascript" th:inline="javascript">
    window.BUGUCMS_BASE_URL = /*[[@{/}]]*/ '/';
</script>
<script>
    window.onload = function () {
        // Build a system
        var ui = SwaggerUIBundle({
            //url: "http://petstore.swagger.io/v2/swagger.json",
            url: BUGUCMS_BASE_URL + "v2/api-docs",
            dom_id: '#swagger-ui',
            deepLinking: true,
            presets: [
                SwaggerUIBundle.presets.apis,
                SwaggerUIStandalonePreset
            ],
            plugins: [
                SwaggerUIBundle.plugins.DownloadUrl
            ],
            layout: "StandaloneLayout"
        });

        window.ui = ui;
    }
</script>
</body>
</html>
