<!--
  _______
 |__   __|
    | |  ___  _ __ __      __ ___  _ __
    | | / _ \| '__|\ \ /\ / // _ \| '__|
    | ||  __/| |    \ V  V /|  __/| |
    |_| \___||_|     \_/\_/  \___||_|
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="zh"
      layout:decorate="include/list_inc"
      th:with="title='主题列表'">

<header layout:fragment="customHeader">
    <style type="text/css">
        #theme-list {
            margin: 20px 0 0 0;
        }

        #theme-list .item {
            text-align: center;
            margin-bottom: 15px;
        }

        #theme-list .item .preview {
            background-color: rgb(0, 150, 136);
            width: 80%;
            height: 150px;
            margin: 0 10%;
        }

        #theme-list .item .preview .no-img {
            color: #ffffff;
            padding: 60px 0;
            height: 30px;
            font-size: 32px;
        }

        #theme-list .item .title {
            margin: 5px 0;
        }

        #theme-list .item .action {
            height: 30px;
            line-height: 30px;
        }
    </style>
    <script type="text/javascript" th:inline="javascript">
        window.BUGUCMS_SERVER_CONFIG = /*[[${siteConfigDTO}]]*/'{}';
        console.log("server config:" + JSON.stringify(window.BUGUCMS_SERVER_CONFIG))
    </script>
</header>

<div layout:fragment="content">
    <div id="app" class="layui-container">
        <div id="theme-list" class="layui-row">
            <div class="layui-col-md4 item" v-for="t in themes">
                <div class="preview">
                    <div class="no-img">{{ t.name }}</div>
                    <!-- 有图片就显示图片，无图片显示文字 -->
                    <!--<img src=""/>-->
                </div>
                <div class="title">{{ t.name }}</div>

                <button class="layui-btn layui-btn-disabled action" v-if="serverConfig.webtheme==t.name">
                    当前使用中
                </button>
                <button class="layui-btn layui-btn-normal action" @click="changeTheme(t.name)" v-else>
                    应用该主题
                </button>
                <a th:href="@{/}" target="_blank">
                    <button class="layui-btn layui-btn-warm action">
                        预览
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>

<footer layout:fragment="customFooter">
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript">
        layui.config({base: BUGUCMS_BASE_URL + 'static/lib/'}).extend({
            conf: 'bugucms/conf',
            tips: 'bugucms/extend/tips'
        }).use(['conf', 'tips', 'layer', 'form'], function () {
            var conf = layui.conf,
                layer = layui.layer,
                form = layui.form,
                $ = layui.$,
                tips = layui.tips;

            if (conf.debug) {
                console.log("client config:" + JSON.stringify(conf));
            }

            $(document).ready(function () {
                var themeListUrl = BUGUCMS_BASE_URL + 'api/theme/getAvailableThemes';//数据接口地址
                // 如果开启token，传入token
                if (conf.request.tokenName) {
                    themeListUrl += '?tokenString=' + conf.request.tokenString;
                }
                $.post(themeListUrl, function (res) {
                    if (res.flag == 1) {
                        console.log("theme data:" + JSON.stringify(res.data));
                        app.themes = res.data.themes;
                        // layer.msg('操作成功', {icon: 1});
                    } else {
                        layer.msg('操作失败', {icon: 2});
                    }
                });
            });

            var app = new Vue({
                el: '#app',
                data: {
                    themes: [],
                    serverConfig: window.BUGUCMS_SERVER_CONFIG
                },
                methods: {
                    changeTheme: function (name) {
                        //询问框
                        layer.confirm('您确认将当前主题【' + app.serverConfig.webtheme + '】切换为【' + name + '】么？', {
                            btn: ['确认', '取消'] //按钮
                        }, function () {

                            layer.closeAll('dialog');

                            var editThemeUrl = BUGUCMS_BASE_URL + 'api/theme/changeTheme';
                            // 如果开启token，传入token
                            if (conf.request.tokenName) {
                                editThemeUrl += '?tokenString=' + conf.request.tokenString;
                            }
                            $.post(editThemeUrl, {theme: name}, function (res) {
                                doChangeTheme(res);
                            }, 'json');

                            function doChangeTheme(res) {
                                console.log(res);
                                if (res != null && res.flag == 1) {
                                    layer.msg('主题切换成功成功', {icon: 1});
                                    window.location.reload();
                                } else {
                                    layer.msg('操作失败', {icon: 2});
                                }
                            }
                        }, function () {
                            // layer.msg('您放弃了操作', {
                            //     time: 20000, //20s后自动关闭
                            //     btn: ['明白了', '知道了']
                            // });
                        });
                    }
                }
            });
        });
    </script>
</footer>