<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Hello Spring Security</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div th:fragment="logout" class="logout" sec:authorize="isAuthenticated()">
    当前登录用户: <span sec:authentication="name"></span> |
    角色: <span sec:authentication="principal.authorities"></span>
    <div>
        <form action="#" th:action="@{/logout}" method="post">
            <input type="submit" class="btn btn-sm btn-danger" value="注销"/>
        </form>
    </div>
</div>
<h1>这是一个需要ADMIN权限才能访问的页面</h1>
<p><a href="/" th:href="@{/}">首页</a></p>
</body>
</html>
