<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>An Error Occured - Bugucms Error Pages</title>
    <link rel="stylesheet" th:href="@{/static/lib/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/static/lib/bugucms/css/bugucms.css}">
</head>
<body>
<div class="layui-fluid">
    <div class="lying-tips bg-center">
        <i class="layui-icon">&#x1007;</i>
        <span class="layui-text">好像出错了呢</span>
    </div>
    <hr>
    <div class="layui-text bg-center"><a th:href="${siteConfigDTO.weburl}">Bugucms</a></div>

    <div th:if="${siteConfigDTO.debug == 'true'}">
        <div>Url:<span th:text="${errorMap.data.body.URL}"></span></div>
        <div>Error:<span th:text="${errorMap.data.body.error}"></span></div>
        <div>Status:<span th:text="${errorMap.data.body.status}"></span></div>
        <div>Timestamp:<span th:text="${errorMap.data.body.timestamp}"></span></div>
        <div>ResponseEntity:<span th:text="${errorMap.data}"></span></div>
    </div>
    <script type="text/javascript" th:inline="javascript">
        //获取服务端项目上下文
        var ctx = /*[[${contextPath}]]*/'/';
        var status = /*[[${errorMap.data.body.status}]]*/'/';

        //获取根路径
        var pathName = window.document.location.pathname;
        var rootPath = getRootPath();
        console.log("pathName:" + pathName);
        console.log("request url:" + rootPath);

        console.log("url:" + rootPath + ctx + "/static/error/405.json");
        if (pathName.indexOf("api") >= 0) {
            if ("NOT_FOUND" == status) {
                window.location.href = rootPath + ctx + "/static/error/404.json";
            }
            else if ("INTERNAL_SERVER_ERROR" == status) {
                window.location.href = rootPath + ctx + "/static/error/500.json";
            }
            else if ("METHOD_NOT_ALLOWED" == status) {
                window.location.href = rootPath + ctx + "/static/error/405.json";
            } else {
                window.location.href = rootPath + ctx + "/static/error/404.json";
            }
        } else {
            if ("NOT_FOUND" == status) {
                window.location.href = rootPath + ctx + "/static/error/404.json";
            }
            else if ("INTERNAL_SERVER_ERROR" == status) {
                window.location.href = rootPath + ctx + "/static/error/500.html";
            }
            else if ("METHOD_NOT_ALLOWED" == status) {
                window.location.href = rootPath + ctx + "/static/error/405.html";
            }
        }

        function getRootPath() {
            //获取当前网址，如：http://localhost:8081/bg/api/post/list
            var curWwwPath = window.document.location.href;
            //获取主机地址之后的目录，如： bg/api/post/list
            var pathName = window.document.location.pathname;
            var pos = curWwwPath.indexOf(pathName);
            //获取主机地址，如：http://localhost:8081
            var localhostPath = curWwwPath.substring(0, pos);
            return localhostPath;
        }

        function getQueryString(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
            var r = location.search.substr(1).match(reg);
            if (r != null) return unescape(decodeURI(r[2]));
            return null;
        }
    </script>
</div>
</body>
</html>