<!--
  _______
 |__   __|
    | |  ___  _ __ __      __ ___  _ __
    | | / _ \| '__|\ \ /\ / // _ \| '__|
    | ||  __/| |    \ V  V /|  __/| |
    |_| \___||_|     \_/\_/  \___||_|
-->
<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>BUGUCMS管理后台</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/lib/layui/css/layui.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/lib/bugucms/css/bugucms.css}">
    <script type="text/javascript" th:inline="javascript">
        //不能在子页面调用
        (window.top === window.self) || (window.top.location.href = window.self.location.href);
        window.BUGUCMS_BASE_URL = /*[[@{/}]]*/ '/';
        window.BUGUCMS_ADMIN_PATH = /*[[${siteConfigDTO.adminpath}]]*/'admin';
        window.BUGUCMS_SERVER_CONFIG = /*[[${siteConfigDTO}]]*/'{}';
        if (BUGUCMS_SERVER_CONFIG.debug) {
            console.log("server config:" + JSON.stringify(BUGUCMS_SERVER_CONFIG));
        }
    </script>
    <style type="text/css">
        .hide {
            display: none;
        }
    </style>
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <!--顶部导航开始-->
    <div class="layui-header">
        <a class="lau-logo-mini" th:href="@{|/${siteConfigDTO.adminpath}/|}"><i class="layui-icon layui-icon-console"></i></a>
        <a class="layui-logo" th:href="@{|/${siteConfigDTO.adminpath}/|}">Bugucms</a>
        <ul class="layui-nav layui-layout-left hide">
            <li class="layui-nav-item" lay-unselect><a lau-event="sideMenu0"><i class="layui-icon layui-icon-set"> 博客设置</i></a></li>
            <li class="layui-nav-item" lay-unselect><a lau-event="sideMenu1"><i class="layui-icon layui-icon-tips"> 操作指引</i></a></li>
            <li class="layui-nav-item" lay-unselect><a lau-event="messageBox"><i class="layui-icon layui-icon-notice"> 0</i></a></li>
            <li class="layui-nav-item" lay-unselect><a lau-event="newPost"><i class="layui-icon layui-icon-add-1"> 添加新文章</i></a></li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item" lay-unselect>
                <a href="javascript:;"><img src="http://t.cn/RdPXvCZ" th:src="${sysUserDTO.userUrl}" class="layui-nav-img"> <span th:text="${sysUserDTO.nickName}">小布</span> </a>
                <dl class="layui-nav-child">
                    <dd><a>基本资料</a></dd>
                    <dd><a>安全设置</a></dd>
                    <dd><a th:href="@{/logout}">安全退出</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item" lay-unselect><a lau-event="about"><i class="layui-icon layui-icon-more-vertical"></i></a></li>
            <li class="layui-nav-item" lay-unselect><a th:href="@{/}" target="_blank"><i class="layui-icon layui-icon-home"></i></a></li>
        </ul>
    </div>
    <!--顶部导航结束-->

    <!--侧边菜单开始-->
    <div class="layui-side">
        <div class="lau-side-fold"><i class="layui-icon layui-icon-shrink-right"></i></div>
        <div class="layui-side-scroll">
            <ul class="layui-nav layui-nav-tree">
            </ul>
        </div>
    </div>
    <!--侧边菜单结束-->

    <!--内容主体区域开始-->
    <div class="layui-body" th:data-title="${title}" data-icon="layui-icon-home" th:data-href="@{|/${siteConfigDTO.adminpath}/${action}|}"></div>
    <!--内容主体区域结束-->
</div>
<script type="text/javascript" th:src="@{/static/lib/layui/layui.js}"></script>
<script type="text/javascript">
    layui.config({base: BUGUCMS_BASE_URL + 'static/lib/'}).extend({
        bugucms: 'bugucms/bugucms'
    }).use(['bugucms'], function () {
        var bugucms = layui.bugucms,
            conf = bugucms.config,
            layer = layui.layer,
            $ = layui.$;

        if (conf.debug) {
            console.log("client config:" + JSON.stringify(conf));
        }

        $(function () {
            // 加载菜单
            getChildMenu(0);
            getChildMenu(1);
        })

        //监听事件,这个不一定要用lau-event,可以自己写
        $(document).on('click', '[lau-event]', function () {
            var _this = $(this);
            switch (_this.attr('lau-event')) {
                case 'about':
                    $.get(BUGUCMS_BASE_URL + BUGUCMS_ADMIN_PATH + '/doc/about', function (html) {
                        bugucms.drawer({content: html});
                    });
                    break;
                case 'download':
                    layer.confirm('下载的源码仅供学习使用，如需用于正式项目，请购买授权！', function (index) {
                        window.open('https://github.com/terwer/bugucms');
                        layer.close(main);
                    });
                    break;
                case "sideMenu0":
                    getChildMenu(1);
                    break;
                case "sideMenu1":
                    getChildMenu(2);
                    break;
                case 'messageBox':
                    if (conf.debug) {
                        console.log("新消息");
                    }
                    break;
                case 'newPost':
                    bugucms.go(BUGUCMS_BASE_URL + BUGUCMS_ADMIN_PATH + '/postManage/new', "写文章","layui-icon-add-1");
                    break;
            }
        });

        function getChildMenu(parentId) {
            //如果设置了侧栏菜单的获取路径,直接渲染
            var menuListUrl = BUGUCMS_BASE_URL + 'api/menu/list/' + parentId;//数据接口地址
            // 如果开启token，传入token
            if (conf.request.tokenName) {
                menuListUrl += '?tokenString=' + conf.request.tokenString;
            }
            $.ajax({
                url: menuListUrl,
                type: 'POST',
                dataType: 'json',
                success: function (res, textStatus, jqXHR) {
                    if (conf.debug) {
                        console.log("menu data before:" + JSON.stringify(res.data));
                    }
                    if (parentId == 0) {
                        $(".layui-layout-left").empty();
                        for (var k in res.data.menus) {
                            var item = res.data.menus[k];
                            var firstMenu = '<li class="layui-nav-item" lay-unselect><a lau-event="' + item.event + '"><i class="' + item.icon + '">  ' + item.title + '</i></a></li>';
                            $(".layui-layout-left").append(firstMenu);
                            $(".layui-layout-left").removeClass("hide");
                        }
                    } else {
                        var secondMenus = new Array();
                        secondMenus.push(res.data.menus);
                        bugucms.sideMenuLoad(secondMenus);
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    console.log("menu data request error");
                }
            });
        }
    });
</script>
</body>
</html>