<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <div th:fragment="art" id="art">
        <!--
        /*
        ____________  _________    _____________  ___      ______      ___  _________    _____________
        | __________| / ______ /   |  __________ | \ \     | | \ \     | | | / ______  |  __________ |
            |  |    | |          |    _________   \ \    | |  \ \    | || | |          |  __________
           |  |     | | ______   |  /_________ |  \ \   | |   \ \   | |   | | ______   |  /_________|
          |  |      | |______ | |  | \ \          \ \  | |    \ \  | |    | |______ | |  | \ \
         |  |       | |________ |  |  \ \_______  \ \| |      \ \ |_|     | |________ |  |  \ \_______
        |__|        /_/______ | | _|   \______/   \_\_|       \_ |_|      /_/______ | | _|   \______/
        */
        -->
        </div>
    </body>
</html>