<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <div th:fragment="footerJS" id="footerJS">
            <!-- jquery -->
            <script type="text/javascript" th:src="@{|/webjars/jquery/jquery.min.js|}"></script>
            <!-- pace -->
            <script type="text/javascript" th:src="@{|/themes/${siteConfigDTO.webtheme}/lib/pace/js/pace.min.js|}"></script>
            <!-- jquery.qrcode -->
            <script type="text/javascript" th:src="@{|/themes/${siteConfigDTO.webtheme}/lib/qrcode/jquery.qrcode.min.js|}"></script>
            <!-- jquery.cookie -->
            <script type="text/javascript" th:src="@{|/themes/${siteConfigDTO.webtheme}/lib/cookie/jquery.cookie.js|}"></script>
            <script type="text/javascript" th:src="@{|/themes/${siteConfigDTO.webtheme}/lib/function.js|}"></script>
            <script type="text/javascript" th:src="@{|/themes/${siteConfigDTO.webtheme}/default.js?v=201804192315|}"></script>
            <!-- 自定义底部开始 -->
            <customFoot layout:fragment="customFoot" th:remove="tag"></customFoot>
            <!-- 自定义底部结束 -->
            <script type="text/javascript">
                $(document).ready(function () {
                    if (!+[1,]) {
                        present = "table";
                    } else {
                        present = "canvas";
                    }
                    $('#output').qrcode({
                        render: present,
                        text: window.location.href,
                        width: "150",
                        height: "150"
                    });
                });
            </script>
        </div>
    </body>
</html>