<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <div th:fragment="header" id="header">
            <header id="masthead" class="site-header">
                <nav id="top-header">
                    <div class="top-nav">
                        <div id="user-profile">
                            <span id="sayHello">早上好，</span>
                            <span id="localtime">现在是：
                                <i id="nowTime">2018年4月1日 06:44:47 星期日</i>
                            </span>
                        </div>
                        <div class="menu-container">
                            <ul id="menu" class="top-menu">
                                <div th:with="condition=${userDTO != null}" th:remove="tag">
                                    <span sec:authorize="!hasRole('ROLE_ADMIN')">
                                        <li id="menu-item-03" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2196">
                                            <a th:href="@{/auth/login}"><i class="iconfont"></i>登录
                                            </a>
                                        </li>
                                    </span>

                                    <span th:fragment="logout" class="logout" sec:authorize="isAuthenticated()">
                                        <li>当前登录用户:
                                            <span sec:authentication="name"></span>
                                            |<span th:text="${sysUserDTO.nickName}"></span>|
                                            角色:<span sec:authentication="principal.authorities"></span>|
                                            <span th:text="${sysUserDTO.sysRoles.get(0).cnName}"></span>
                                        </li>
                                        <li>
                                            <a th:href="@{/logout}"><i class="iconfont"></i>注销
                                            </a>
                                        </li>
                                    </span>

                                    <span sec:authorize="hasRole('ROLE_ADMIN')">
                                        <li>
                                            <a th:href="@{|/${siteConfigDTO.adminpath}|}">后台管理</a>
                                        </li>
                                    </span>
                                </div>
                                <li id="menu-item-962"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-962">
                                    <a th:href="@{/shuoshuo}">
                                        <i class="iconfont"></i>
                                        随笔
                                    </a>
                                </li>
                                <li id="menu-item-2196"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2196">
                                    <a th:href="@{/about}">
                                        <i class="iconfont"></i>
                                        关于本站
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <!-- #top-header -->
                <div id="menu-box">
                    <div id="top-menu">
                        <span class="nav-search">
                            <i class="fa fa-search"></i>
                        </span>
                        <hgroup class="logo-site">
                            <h1 class="site-title">
                                <a th:href="@{/}">
                                    <img th:src="@{|/themes/${siteConfigDTO.webtheme}/logo-big.png|}"
                                         th:title="|${siteConfigDTO.webname}|" rel="home">
                                    <span class="site-name" th:text="${siteConfigDTO.webname}">webname</span>
                                </a>
                            </h1>
                        </hgroup>
                        <!-- .logo-site -->
                        <div id="site-nav-wrap">
                            <div id="sidr-close">
                                <a th:href="@{/#sidr-close}" class="toggle-sidr-close">×</a>
                            </div>
                            <nav id="site-nav" class="main-nav">
                                <a th:href="@{/#sidr-main}" id="navigation-toggle" class="bars">
                                    <i class="fa fa-bars"></i>
                                </a>
                                <div class="menu-container">
                                    <ul class="down-menu nav-menu sf-js-enabled sf-arrows">
                                        <li id="menu-item-26"
                                            class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-26">
                                            <a th:href="@{/}">
                                                <i class="iconfont icon-shouye"></i>
                                                首页
                                            </a>
                                        </li>
                                        <li id="menu-item-2917"
                                            class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2917">
                                            <a th:href="@{/backend}">
                                                <i class="iconfont"></i>
                                                后端
                                            </a>
                                        </li>
                                        <li id="menu-item-1639"
                                            class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1639">
                                            <a th:href="@{/web}">
                                                <i class="fa fa-html5"></i>
                                                前端
                                            </a>
                                        </li>
                                        <li id="menu-item-87"
                                            class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-87">
                                            <a th:href="@{/resource}">
                                                <i class="iconfont"></i>
                                                资源
                                            </a>
                                        </li>
                                        <li id="menu-item-34"
                                            class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-34">
                                            <a th:href="@{/skill}">
                                                <i class="iconfont icon-youxian"></i>
                                                技巧
                                            </a>
                                        </li>
                                        <li id="menu-item-288"
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-288">
                                            <a th:href="@{/guestbook}">
                                                <i class="iconfont icon-liuyan"></i>
                                                留言板
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                            <!-- #site-nav -->
                        </div>
                        <!-- #site-nav-wrap -->
                        <div class="clear"></div>
                    </div>
                    <!-- #top-menu -->
                </div>
                <!-- #menu-box -->
            </header>
            <!-- #masthead -->
            <div id="search-main">
                <a title="关闭" class="fancybox-close" href="javascript:;" id="search-close">
                    <i class="fa fa-times"></i>
                </a>
                <div id="searchbar">
                    <form method="get" id="searchform" th:action="@{/}">
                        <input type="text" value="" name="s" id="s" placeholder="输入搜索内容" required>
                        <button type="submit" id="searchsubmit">搜索</button>
                    </form>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </body>
</html>
