<!DOCTYPE html>
<html lang="zh-CN"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head th:fragment="headerCSS" id="headerCSS">
        <meta charset="UTF-8">
        <!-- 禁止浏览器缓存 -->
        <meta http-equiv="Cache-Control" content="no-transform">
        <meta http-equiv="Cache-Control" content="no-siteapp">
        <meta name="renderer" content="webkit">
        <meta name="keywords" th:content="${siteConfigDTO.keywords}">
        <meta name="description" th:content="${siteConfigDTO.description}">
        <!-- viewport可以控制用户在手机上两个手指缩放的行为范围，这行代码的意思是宽度为设备宽度，初始缩放为1，最大缩放也是1倍，用户不能缩放 -->
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
        <!-- apple这行是告诉iOS这是个应用，就不会像网页一样可以滚动到顶部回弹一下的效果，就是可以看到苹果默认背景灰色部分的那个效果 -->
        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <title th:text="${title}">Title</title>
        <link rel="shortcut icon" type="image/x-icon" href="../favicon.ico" th:href="@{|/themes/${siteConfigDTO.webtheme}/favicon.ico|}">
        <link rel="apple-touch-icon" sizes="114x114" href="../favicon.ico" th:href="@{|/themes/${siteConfigDTO.webtheme}/favicon.ico|}">
        <link rel="profile" href="http://gmpg.org/xfn/11">
        <!-- fontico -->
        <link rel="stylesheet" type="text/css" th:href="@{|/themes/${siteConfigDTO.webtheme}/lib/fontico/fontico.css|}">
        <!-- pace -->
        <link rel="stylesheet" type="text/css" th:href="@{|/themes/${siteConfigDTO.webtheme}/lib/pace/css/pace.css|}">
        <!-- 自定义页面头部开始 -->
        <link rel="stylesheet" type="text/css" th:href="@{|/themes/${siteConfigDTO.webtheme}/default.css?v=201804261448|}">
        <customHead layout:fragment="customHead" th:remove="tag"></customHead>
        <!-- 自定义页面头部结束 -->
    </head>
    <body>
    </body>
</html>