<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <headerCSS th:replace="themes/default/layout/headerCSS :: headerCSS"></headerCSS>
    <body>
        <!-- 进度条开始-->
        <div class="pace pace-inactive">
            <div class="pace-progress" data-progress-text="100%" data-progress="99"
                 style="transform: translate3d(100%, 0px, 0px);">
                <div class="pace-progress-inner"></div>
            </div>
            <div class="pace-activity"></div>
        </div>
        <!-- 进度条结束-->
        <!-- 页面-->
        <div id="page" class="hfeed site">
            <header th:replace="themes/default/layout/header :: header"></header>

            <!-- 正文开始 -->
            <div layout:fragment="content">这里是正文</div>
            <!-- 正文结束 -->
            
            <footer th:replace="themes/default/layout/footer :: footer"></footer>
        </div>
        <!-- 底部JS -->
        <footerJS th:replace="themes/default/layout/footerJS :: footerJS"></footerJS>
    </body>
</html>