<!--
  _______
 |__   __|
    | |  ___  _ __ __      __ ___  _ __
    | | / _ \| '__|\ \ /\ / // _ \| '__|
    | ||  __/| |    \ V  V /|  __/| |
    |_| \___||_|     \_/\_/  \___||_|
-->
<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="themes/default/layout/layout"
      th:with="title=|关于本站 - ${siteConfigDTO.webname}|">

<customHead layout:fragment="customHead">
</customHead>

<div layout:fragment="content" id="content">
    关于本站
</div>

<customFoot layout:fragment="customFoot">
</customFoot>




