@charset "utf-8";
::-webkit-input-placeholder {
	text-overflow: ellipsis
}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
	overflow: auto
}

::-webkit-scrollbar-thumb {
	background-color: #b3b3b3;
	min-height: 25px;
	min-width: 25px;
	border: 1px solid #e0e0e0
}

::-webkit-scrollbar-track {
	background-color: #f7f7f7;
	border: 1px solid #efefef
}

[class*=sgbtn] {
	color: #fff !important;
	display: inline-block;
	text-indent: 0;
	position: relative;
	color: #fff;
	padding: 0 10px 0 10px;
	min-width: 160px;
	height: 38px;
	line-height: 38px;
	opacity: .8;
	text-align: center;
	font-family: Ubuntu, sans-serif;
	font-size: 15px;
	text-decoration: none;
	border-radius: 2px;
	overflow: hidden;
	-webkit-transition: all .15s ease-in;
	transition: all .15s ease-in
}

[class*=sgbtn]:before {
	content: '';
	position: absolute;
	background: #fff;
	width: 25px;
	height: 50px;
	top: 0;
	left: -45px;
	opacity: .3;
	-webkit-transition: all .25s ease-out;
	transition: all .25s ease-out;
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg)
}

[class*=sgbtn]:hover {
	opacity: .65
}

[class*=sgbtn]:hover:before {
	width: 45px;
	left: 205px
}

.sgbtn_blue {
	background: #1cb2f5
}

.sgbtn_red {
	background: #C00
}

.sgbtn_orange {
	background: #F90
}

.sgbtn_lv {
	background: #096
}

a[class*=sgbtn] {
	color: #fff
}

a[class*=sgbtn]:hover {
	color: #fff
}

.entry-header h1 {
	background-color: #eee;
	text-align: center;
}

#sc_notice {
	overflow: hidden;
	margin: 10px 0;
	padding: 15px 15px 15px 35px;
	border: 1px solid #aac66d;
	background: #ecf2d6 url(../img/notice/sc_notice.png) -1px -1px no-repeat;
	color: #7da33c
}

#sc_warn {
	overflow: hidden;
	margin: 10px 0;
	padding: 15px 15px 15px 35px;
	border: 1px solid #eac946;
	background: #fff4b9 url(../img/notice/sc_warn.png) -1px -1px no-repeat;
	color: #ad9948
}

#sc_error {
	overflow: hidden;
	margin: 10px 0;
	padding: 15px 15px 15px 35px;
	border: 1px solid #ebb1b1;
	background: #ffecea url(../img/notice/sc_error.png) -1px -1px no-repeat;
	color: #c66
}

#sc_tips {
	overflow: hidden;
	margin: 10px 0;
	padding: 15px 15px 15px 35px;
	border: 1px solid #ccc;
	background: #eaeaea url(../img/notice/sc_tips.png) -1px -1px no-repeat;
	color: #777
}

#sc_blue {
	overflow: hidden;
	margin: 10px 0;
	padding: 15px 15px 15px 35px;
	border: 1px solid #4d99d2;
	background: #dbe7f8 url(../img/notice/sc_blue.png) -1px -1px no-repeat;
	color: #4d99d2
}

.sc_organge {
	margin: 10px 0;
	padding: 10px 15px;
	border: 1px solid #e3e3e3;
	border-left: 2px solid #EC8006;
	background: #FFF
}

.sc_organge:hover {
	background: rgba(247, 247, 247, .58)
}

.sc_lvse {
	margin: 10px 0;
	padding: 10px 15px;
	border: 1px solid #e3e3e3;
	border-left: 2px solid #05B536;
	background: #FFF
}

.sc_lvse:hover {
	background: rgba(247, 247, 247, .58)
}

.sc_red {
	margin: 10px 0;
	padding: 10px 15px;
	border: 1px solid #e3e3e3;
	border-left: 2px solid #ED0505;
	background: #FFF
}

.sc_red:hover {
	background: rgba(247, 247, 247, .58)
}

.sc_act {
	margin: 10px 0;
	padding: 10px 15px;
	border: 1px solid #e3e3e3;
	border-left: 2px solid #3dabce;
	background: #FFF
}

.sc_act:hover {
	background: rgba(247, 247, 247, .58)
}

.greenbtn {
	display: inline-block;
	text-indent: 0;
	padding: 6px 12px;
	border: 1px solid #4b8f29;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(.05, #77b55a), color-stop(1, #72b352));
	background: -moz-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background: -webkit-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background: -o-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background: -ms-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background: linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
	background-color: #77b55a;
	-webkit-box-shadow: 0 10px 14px -7px #3e7327;
	-moz-box-shadow: 0 10px 14px -7px #3e7327;
	box-shadow: 0 10px 14px -7px #3e7327;
	color: #fff!important;
	text-decoration: none;
	text-shadow: 0 1px 0 #5b8a3c;
	font-weight: 700;
	font-size: 13px;
	font-family: arial;
	cursor: pointer;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#77b55a', endColorstr='#72b352', GradientType=0)
}

.greenbtn:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(.05, #72b352), color-stop(1, #77b55a));
	background: -moz-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background: -webkit-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background: -o-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background: -ms-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background: linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
	background-color: #72b352;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#72b352', endColorstr='#77b55a', GradientType=0)
}

.greenbtn:active {
	position: relative;
	top: 1px
}

.bluebtn {
	display: inline-block;
	text-indent: 0;
	padding: 6px 24px;
	border: 1px solid #124d77;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(.05, #007dc1), color-stop(1, #0061a7));
	background: -moz-linear-gr adient(top, #007dc1 5%, #0061a7 100%);
	background: -webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background: -o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background: -ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background: linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	background-color: #007dc1;
	-webkit-box-shadow: inset 0 1px 0 0 #54a3f7;
	-moz-box-shadow: inset 0 1px 0 0 #54a3f7;
	box-shadow: inset 0 1px 0 0 #54a3f7;
	color: #fff!important;
	text-decoration: none;
	text-shadow: 0 1px 0 #154682;
	font-size: 13px;
	font-family: arial;
	cursor: pointer;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7', GradientType=0)
}

.bluebtn:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(.05, #0061a7), color-stop(1, #007dc1));
	background: -moz-linear-gr adient(top, #0061a7 5%, #007dc1 100%);
	background: -webkit-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background: -o-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background: -ms-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background: linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	background-color: #0061a7;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#007dc1', GradientType=0)
}

.bluebtn:active {
	position: relative;
	top: 1px
}

.yellowbtn {
	display: inline-block;
	padding: 6px 24px;
	border: 1px solid #fa2;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(.05, #ffec64), color-stop(1, #ffab23));
	background: -moz-linear-gr adient(top, #ffec64 5%, #ffab23 100%);
	background: -webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background: -o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background: -ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color: #ffec64;
	-webkit-box-shadow: inset 0 1px 0 0 #fff6af;
	-moz-box-shadow: inset 0 1px 0 0 #fff6af;
	box-shadow: inset 0 1px 0 0 #fff6af;
	color: #333!important;
	text-decoration: none;
	text-shadow: 0 1px 0 #fe6;
	font-weight: 700;
	font-size: 15px;
	font-family: arial;
	cursor: pointer;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23', GradientType=0)
}

.yellowbtn:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(.05, #ffab23), color-stop(1, #ffec64));
	background: -moz-linear-gr adient(top, #ffab23 5%, #ffec64 100%);
	background: -webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background: -o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background: -ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background: linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	background-color: #ffab23;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64', GradientType=0)
}

.yellowbtn:active {
	position: relative;
	top: 1px
}

.dltable a {
	padding: 0 1em 0 0
}

.dltable p {
	font-weight: 700;
	margin: 4px;
	width: 10px;
	line-height: 30px;
	text-indent: 0
}

.dltable {
	width: 100%
}

a.dl {
	display: inline-block;
	margin: 10px 5px 20px 25px;
	padding: 8px 16px;
	border: 2px solid #fff;
	border-radius: 2px;
	background: #03A9F4;
	box-shadow: 0 0 0 1px #EEE;
	color: #fff !important;
	vertical-align: text-bottom;
	text-align: center;
	text-indent: 0;
	cursor: pointer
}

a.dl i {
	margin-right: 10px;
	vertical-align: inherit
}

a.dl:hover {
	background: #1782b3;
	color: #fff
}

a.dl {
	-webkit-transition-timing-function: cubic-bezier(.445, .05, .55, .95);
	transition-timing-function: cubic-bezier(.445, .05, .55, .95);
	-webkit-transition-duration: .5s;
	transition-duration: .5s
}

.lhb {
	padding: 5px 50px;
	border: 1px solid #4094ef;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
	color: #4094ef!important;
	font-size: 19px
}

.lhb:hover {
	border-color: #fff;
	background: #4094ef;
	color: #fff!important;
	transition-duration: .3s
}

code {
	font-size: 1.3rem;
	margin: 0 2px 0 2px;
	background: #f0f2f1;
	color: #f4645f;
	padding: 1px 5px;
	border-radius: 3px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.125);
	font-family: Consolas, Monaco, 'Andale Mono', monospace;
}


/**/

.single-content h2 {
	border-bottom: 1px solid #e40000;
	padding: 0px 20px;
	background-color: rgba(222, 222, 222, 0.2)
}

.comment-list li:hover {
	border: 1px dashed #d4d4d4;
}

.callbacks_tabs a {
	background: #fff;
	padding: 2px 8px;
	border-radius: 2px
}

.site-info {
	padding: 5px 0 5px 0
}

.add-info {
	padding: 0 0 15px 0
}

.section-content {
	border: 1px dashed #bbb;
	padding: 5px 20px 5px 20px
}

.section-content:hover {
	border-color: #1782b3
}

.single-content h4 {
	font-size: 1.5rem;
	padding-left: 5px
}

#log-box {
	min-width: 120px
}

.single-date {
	color: #999;
	line-height: 26px;
	margin: 0 5px 0 0;
	padding: 0 10px;
	border: 1px solid #ddd;
	border-radius: 2px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
}

figure.related-site-img {
	box-shadow: 1px 1px 6px 0px #9b9c9c;
	border-radius: 5px
}

@media screen and (max-width: 620px) {
	.entry-header h2 {
		height: 100%;
	}
	.archive-content {
		display: block;
		max-height: 52px;
		overflow: hidden;
	}
	.entry-meta {
		display: none
	}
}

.scrolltext {
	height: 35px;
	line-height: 35px;
}

.breadcrumb {
	height: 35px;
	line-height: 35px;
	border: 1px solid #e7eaf1;
	border-radius: 2px;
	background-color: #fff;
	margin-top: 10px;
	box-shadow: 0 1px 3px rgba(0, 37, 55, .05);
	box-sizing: border-box;
}

#content {
	margin-top: 10px
}

body.single #main article[id*=post] {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.entry-header h1,
div.crayon-syntax,
code,
.dltable {
	-moz-user-select: text;
	-webkit-user-select: text;
	-ms-user-select: text;
	-o-user-select: text;
	user-select: text;
}

span.comment_ip_home {
	display: none
}

.comment-body:hover span.comment_ip_home {
	display: initial
}

.comment-body:hover .reply a {
	display: block;
}

.list-title a,
.like_most a,
#random_post_widget a,
#hot_post_widget a,
#hot_comment_widget a {
	-webkit-transition: margin .3s ease-out;
	-moz-transition: margin .3s ease-out;
	-khtml-transition: margin .3s ease-out
}

.list-title a:hover,
.like_most a:hover,
#random_post_widget a:hover,
#hot_post_widget a:hover,
#hot_comment_widget a:hover {
	margin-left: 15px
}

.WB-OS img {
	vertical-align: -6% !important;
	width: 14px;
	height: 14px;
}

.search-page .post {
	border: none !important
}

.search-page {
	min-height: 500px
}

span#timeShow {
	opacity: .8;
	cursor: pointer;
	font-weight: 700
}

.shuoshuo {
	position: relative;
	background: #fff;
	margin: 0 0 10px 0;
	padding: 20px;
	border: 1px solid #ddd;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
	border-radius: 2px
}

.linkcat h2 {
	clear: both;
	margin: 10px 3px;
	padding: 5px 0 5px 10px;
	background-color: #fff;
	border: 1px solid #ddd;
	border-left: 5px solid #1782b3;
	font-weight: 500
}

.tab-hd-con {
	width: 25%
}

.tab-hd .current {
	width: 25%
}


/*1010缩小*/

@media screen and (max-width:1011px) {
	#site-nav .nav-menu {
		display: none
	}
	.nav-search {
		background: 0 0;
		color: #999;
		margin: 5px 10px 0 0;
		padding: 0 8px;
		vertical-align: top;
		border: 0;
		box-shadow: 0 1px 1px transparent
	}
}

@media screen and (min-width:1010) {
	.nav-mobile {
		display: none
	}
	.site-title img {
		width: 165px
	}
}

@media only screen and (max-width:1011px) {
	#menu-box {
		transition: all 0s ease 0s
	}
	#navigation-toggle {
		display: block;
		float: none;
		padding: 0 8px;
		vertical-align: top
	}
	#site-nav .nav-menu {
		display: none
	}
	#top-menu {
		width: 95%
	}
	#main-search.shadow,
	#mobile-nav.shadow {
		position: fixed;
		left: 0;
		right: 0;
		z-index: 999;
		margin: 10px auto 0
	}
	#menu-box {
		height: 40px
	}
	#menu-box.shadow {
		height: 40px
	}
	.main-nav {
		margin: 7px 0 0 0
	}
	#site-nav-wrap {
		min-height: 30px;
		margin: 0 10px 0 0
	}
	.catalog-button {
		bottom: 320px
	}
	.logo-site {
		margin-top: 5px
	}
	.logo-site {
		height: 30px
	}
	.site-title img {
		width: 132px!important;
		height: 30px!important
	}
	.logo-site a {
		font-size: .7em
	}
	.site-description {
		display: none
	}
	.nav-set {
		margin: 0 15px 0 0
	}
	.mobile-search {
		background: #fff;
		font-size: 13px;
		height: 25px;
		margin: 0 0 5px 20px;
		padding: 0 8px 2px;
		border: 1px solid #ddd
	}
	#top-header {
		display: none
	}
}


/*1010缩小end*/

.entry-header h2 {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.page_random .post:hover {
	border: none
}

.wow article[id*=post] .fancybox img {
	max-width: 90% !important
}

@media screen and (min-width: 1024px) {
	.lx7 {
		width: 10%;
	}
	.single-content ul li {
		list-style: none;
	}
	.single-content ul li:before {
		display: inline-block;
		font-family: FontAwesome;
		font-style: normal;
		font-weight: 400;
		-webkit-font-smoothing: antialiased;
		content: "\f198";
		width: 20px;
		height: 0;
		line-height: 30px;
		font-size: 9pt;
		color: #a9a9a9;
	}
}

.top-nav {
	height: 28px;
	line-height: 28px;
	font-size: 13px;
}

#user-profile,
#user-profile a,
.top-menu a {
	color: #777
}

.fancybox-close {
	border-radius: 2px
}

.fancybox-close:hover {
	color: #fff;
	background-color: #1782b3
}

#site-nav .down-menu li {
	height: 70px;
	line-height: 70px;
	transition: all .2s;
	border-bottom: 0px solid #209ed8
}

#site-nav .down-menu li:hover {
	border-bottom-width: 2px
}

p.editor_tools {
	background: #fff;
	display: none;
	position: relative;
	min-height: 37px;
	border: 1px solid #e7eaf1;
	overflow: hidden;
	margin-bottom: 10px;
	border-radius: 2px;
	line-height: 37px;
	box-shadow: 0 1px 3px rgba(0, 37, 55, .05);
	box-sizing: border-box
}

a.editor {
	margin-left: 10px;
	text-align: center
}

p.editor_tools>a.editor {
	border-right: 1px solid #ddd;
	padding-right: 10px
}

.comment-body p a {
	color: #209ed8
}

.comment-body p a:hover {
	text-decoration: underline
}