<!--
__________  _________    _____________  ___      ______      ___  _________    _____________
| __________| / ______ /   |  __________ | \ \     | | \ \     | | | / ______  |  __________ |
    |  |    | |          |    _________   \ \    | |  \ \    | || | |          |  __________
   |  |     | | ______   |  /_________ |  \ \   | |   \ \   | |   | | ______   |  /_________|
  |  |      | |______ | |  | \ \          \ \  | |    \ \  | |    | |______ | |  | \ \
 |  |       | |________ |  |  \ \_______  \ \| |      \ \ |_|     | |________ |  |  \ \_______
|__|        /_/______ | | _|   \______/   \_\_|       \_ |_|      /_/______ | | _|   \______/
-->
<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="themes/default/layout/layout"
      th:with="title=|${siteConfigDTO.webname} - ${siteConfigDTO.webslogen}|">

<customHead layout:fragment="customHead">
    <!-- 头部 -->
    <link rel="stylesheet" type="text/css" th:href="|${#request.contextPath}/themes/${siteConfigDTO.webtheme}/css/index.css|">
</customHead>

<div layout:fragment="content" id="content">
    <h1 th:text="${siteConfigDTO.webname}">webname</h1>
</div>

<customFoot layout:fragment="customFoot">
    <script type="text/javascript" th:src="|${#request.contextPath}/themes/${siteConfigDTO.webtheme}/js/index.js|"></script>
</customFoot>