<!--
  _______
 |__   __|
    | |  ___  _ __ __      __ ___  _ __
    | | / _ \| '__|\ \ /\ / // _ \| '__|
    | ||  __/| |    \ V  V /|  __/| |
    |_| \___||_|     \_/\_/  \___||_|
-->
<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="themes/default/layout/layout"
      th:with="title=|${siteConfigDTO.webname} - ${siteConfigDTO.webslogen}|">

<customHead layout:fragment="customHead">
    <!-- 头部 -->
    <link rel="stylesheet" type="text/css" th:href="@{|/themes/${siteConfigDTO.webtheme}/css/index.css|}">
</customHead>

<div layout:fragment="content">
    <div id="content" class="site-content">
        <div class="clear"></div>
        <div id="primary" class="content-area">
            <main id="main" class="site-main" role="main">
                <!-- 幻灯 -->
                <!-- 置顶 -->
                <!-- 最新文章 -->
                <!-- 图文日志 -->
                <postList th:each="post,i : ${postList}" th:remove="tag">
                    <div class="wow fadeInUp" data-wow-delay="0.3s">
                        <article th:id="|post-${post.postId}|" class="post type-post status-publish format-standard tag-java">
                            <thumbnail th:if="${post.thumbnails.size() > 0}" th:remove="tag">
                                <figure class="thumbnail">
                                    <div class="load">
                                        <a th:href="@{|/post/${post.postSlug}.html|}">
                                            <img th:src="${post.thumbnails.get(0)}" data-original="|${#request.contextPath}/themes/${siteConfigDTO.webtheme}/loading.png|" th:alt="${post.postTitle}" width="280" height="210">
                                        </a>
                                    </div>
                                    <span class="cat"><a th:href="@{|/backend/java/|}">Java</a></span>
                                </figure>
                            </thumbnail>
                            <header class="entry-header">
                                <h2 class="entry-title">
                                    <a th:href="@{|/post/${post.postSlug}.html|}" rel="bookmark" th:text="${post.postTitle}">postTitle</a>
                                </h2>
                            </header>
                            <!-- .entry-header -->
                            <div class="entry-content">
                                <div class="archive-content" th:text="${post.postDesc}">postDesc</div>
                                <span class="title-l"></span> <span class="entry-meta"> <span class="date">2018年03月18日&nbsp;&nbsp;</span><span
                                    class="views">阅读 48</span><span class="comment">&nbsp;&nbsp;<a
                                    th:href="@{|/post/${post.postSlug}.html#respond|}" rel="external nofollow"><i
                                    class="fa fa-comment-o"></i> 发表评论</a></span> </span>
                                <div class="clear"></div>
                            </div>
                            <!-- .entry-content -->
                            <span class="entry-more">
                                <a th:href="@{|/post/${post.postSlug}.html|}" rel="bookmark">阅读全文</a>
                            </span>
                        </article>
                        <!-- #post -->
                    </div>
                </postList>
                <!-- 广告 -->
                <!-- 单栏小工具 -->
                <!-- 单栏分类5篇 -->
                <!-- 单栏分类10篇 -->
                <!-- 图片日志 -->
                <!-- 两栏小工具 -->
                <!-- 视频日志 -->
                <!-- 主体两栏分类 -->
                <!-- TAB切换 -->
            </main>
            <!-- .site-main -->
        </div>
        <!-- .content-area -->
        <!-- 侧边小工具 -->
        <div id="sidebar" class="widget-area">
            <div class="wow" data-wow-delay="0.5s">
                <aside id="about" class="widget widget_about wow fadeInUp" data-wow-delay="0.3s">
                    <h3 class="widget-title"><i class="fa fa-bars"></i>关于本站</h3>
                    <div id="feed_widget">
								<span class="feed-about">
                            <div class="about-main">
                                <div class="about-img"> <img th:src="@{|/uploads/images/me.jpg|}"> </div>
                                <div class="about-name" th:text="${siteConfigDTO.webname}">webname</div>
                                <div class="about-the" th:text="${siteConfigDTO.description}">description</div>
                            </div>
                            <div class="clear"></div>
                        <ul>
                            <li class="weixin"> <span class="tipso_style" id="tip-w"
                                                      data-tipso="&lt;div id=&quot;weixin-qr&quot;&gt;&lt;img src=&quot;http://open.weixin.qq.com/qr/code?username=desgintalk&quot;/&gt;&lt;/div&gt;"><a
                                    title="微信"><i class="fa fa-weixin"></i></a></span> </li>
								<li class="tqq">
									<a target="blank" rel="external nofollow"
                                       href="http://wpa.qq.com/msgrd?V=3&amp;uin=1035136784&amp;Site=QQ&amp;Menu=yes"
                                       title="QQ在线"><i class="fa fa-qq"></i></a>
								</li>
								<li class="tsina">
									<a title="" href="http://www.weibo.com/tyouwei" target="_blank"
                                       rel="external nofollow"><i class="fa fa-weibo"></i></a>
								</li>
								<li class="feed">
									<a title="" th:href="@{|/feed/|}" target="_blank"
                                       rel="external nofollow"><i class="fa fa-rss"></i></a>
								</li>
								</ul>
								<div class="about-inf"> <span class="about-pn">浏览 470587</span> <span class="about-cn">留言 2566</span> </div>
								</span>
                    </div>
                    <div class="clear"></div>
                </aside>
            </div>
        </div>
        <div class="clear"></div>
        <!-- 横向图片滚动 -->
        <!-- 底部分类 -->
        <!-- 淘客 -->
        <!-- 下载 -->
        <!-- 产品 -->
        <!-- 无缩略图分类 -->
        <!-- 页脚 -->
        <div class="clear"></div>
        <div id="links" class="wow fadeInUp" data-wow-delay="0.3s">
            <ul>
                <span class="lx7"><span class="link-f link-name"><a href="http://www.cnblogs.com/tangyouwei" target="_blank">cnblogs</a></span></span>
                <span class="lx7"><span class="link-f"><li><a th:href="@{|/links|}" title="全部链接">更多链接<i class="icon-li"></i></a></li></span></span>
            </ul>
            <div class="clear"></div>
        </div>
    </div>
    <!-- .site-content -->
</div>

<customFoot layout:fragment="customFoot">
    <script type="text/javascript" th:src="@{|/themes/${siteConfigDTO.webtheme}/js/index.js|}"></script>
</customFoot>