<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head th:include="layout :: htmlhead" th:with="title='Hello'">
    <meta charset="UTF-8">
    <title>Content page 1</title>
</head>
<body>
<!--
<section layout:fragment="content">
    <p>This is a paragraph from content page 1</p>
</section>
<footer>
    <p layout:fragment="custom-footer">This is some footer content from content page 1</p>
</footer>

-->
</body>
</html>