<!--
  _______
 |__   __|
    | |  ___  _ __ __      __ ___  _ __
    | | / _ \| '__|\ \ /\ / // _ \| '__|
    | ||  __/| |    \ V  V /|  __/| |
    |_| \___||_|     \_/\_/  \___||_|
-->
<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="themes/default/layout/layout"
      th:with="title=|${post.postTitle} - ${siteConfigDTO.webname}|">

<customHead layout:fragment="customHead">
    <!-- 头部 -->
    <!--
    // 1.Segmentfault.com默认的solarized_light风格
    https://apps.bdimg.com/libs/highlight.js/9.1.0/styles/solarized_light.min.css
    // 2.sublime主题风格
    https://apps.bdimg.com/libs/highlight.js/9.1.0/styles/monokai-sublime.min.css
    // 3.默认风格
    http://apps.bdimg.com/libs/highlight.js/9.1.0/styles/default.min.css
    -->
    <link rel="stylesheet" type="text/css" href="https://apps.bdimg.com/libs/highlight.js/9.1.0/styles/atelier-forest-light.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{|/themes/${siteConfigDTO.webtheme}/css/post.css?v=201804192240|}">
</customHead>

<div layout:fragment="content" id="content">
    <div class="post-date" th:text="${#dates.format(post.postDate, 'yyyy-MM-dd HH:mm:ss')}"></div>
    <div class="post-title"><h1 th:text="${post.postTitle}">postTitle</h1></div>
    <div class="post-content" th:utext="${post.postContent}">postContent</div>
</div>

<customFoot layout:fragment="customFoot">
    <!-- hilightjs -->
    <script type="text/javascript" src="http://apps.bdimg.com/libs/highlight.js/9.1.0/highlight.min.js"></script>
    <script type="text/javascript" th:src="@{|/themes/${siteConfigDTO.webtheme}/js/post.js?v=201804200053|}"></script>
</customFoot>




