<!--
  _______
 |__   __|
    | |  ___  _ __ __      __ ___  _ __
    | | / _ \| '__|\ \ /\ / // _ \| '__|
    | ||  __/| |    \ V  V /|  __/| |
    |_| \___||_|     \_/\_/  \___||_|
-->
<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:include="themes/autumn/include/header::commonHeaderCustom(${siteConfigDTO.webname} + ' - ' + ${siteConfigDTO.webslogen},~{::style})">
    <style type="text/css">
    </style>
</head>
<body>

<div th:include="themes/autumn/include/header::commonHeaderContent"></div>

<div th:include="themes/autumn/include/footer::commonFooterCustom(~{::script})">
    <script type="text/javascript">
    </script>
</div>

</body>
</html>
