<!--
  _______
 |__   __|
    | |  ___  _ __ __      __ ___  _ __
    | | / _ \| '__|\ \ /\ / // _ \| '__|
    | ||  __/| |    \ V  V /|  __/| |
    |_| \___||_|     \_/\_/  \___||_|
-->
<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:include="themes/autumn/include/header::commonHeaderCustom(${siteConfigDTO.webname} + ' - ' + ${siteConfigDTO.webslogen},~{::style})">
    <style type="text/css">
    </style>
</head>
<body>
<div th:include="themes/autumn/include/header::commonHeaderContent"></div>

<div class="content">
    <div class="cont w1000">
        <div class="title">
        <span class="layui-breadcrumb" lay-separator="|">
          <a href="javascript:;" class="active">Java</a>
          <a href="javascript:;">架构</a>
          <a href="javascript:;">分享</a>
        </span>
        </div>
        <div class="list-item">
            <postList th:each="post,i : ${postList}" th:remove="tag">
                <div class="item">
                    <div class="layui-fluid">
                        <div class="layui-row">
                            <thumbnail th:if="${post.thumbnails.size() > 0}" th:remove="tag">
                                <div class="layui-col-xs12 layui-col-sm4 layui-col-md4">
                                    <div class="img"><img th:src="${post.thumbnails.get(0)}" th:alt="${post.postTitle}"></div>
                                </div>
                            </thumbnail>
                            <div class="layui-col-xs12 layui-col-sm8 layui-col-md8">
                                <div class="item-cont">
                                    <h3><span th:text="${post.postTitle}"></span>
                                        <button class="layui-btn layui-btn-danger new-icon" th:if="${post.newFlag}">new</button>
                                    </h3>
                                    <h5>Java</h5>
                                    <p th:text="${post.postDesc}"></p>
                                    <a th:href="@{|/post/${(post.postSlug==null||post.postSlug=='')?post.postId:post.postSlug}.html|}" class="go-icon"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </postList>
        </div>
        <div id="pager" style="text-align: center;"></div>
    </div>
</div>

<div th:include="themes/autumn/include/footer::commonFooterCustom(~{::script})">
    <script type="text/javascript">
        layui.config({
            version: "3.0.0"
            , base: window.BUGUCMS_THEME_PATH + 'js/' //这里实际使用时，建议改成绝对路径
        }).use(['element', 'laypage', 'jquery', 'menu'], function () {
            var element = layui.element, laypage = layui.laypage, $ = layui.$, menu = layui.menu;
            laypage.render({
                elem: 'pager'
                , count: 70 //数据总数，从服务端得到
            });
            menu.init();
        });
    </script>
</div>
</body>
</html>
