<!--
  _______
 |__   __|
    | |  ___  _ __ __      __ ___  _ __
    | | / _ \| '__|\ \ /\ / // _ \| '__|
    | ||  __/| |    \ V  V /|  __/| |
    |_| \___||_|     \_/\_/  \___||_|
-->
<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:include="themes/autumn/include/header::commonHeaderCustom(${siteConfigDTO.webname} + ' - ' + ${siteConfigDTO.webslogen},~{::style})">
    <style type="text/css">
        .banner {
            display: none;
        }

        .clear {
            clear: both;
        }

        /*生成博客目录的CSS*/
        #menu-tree {
            float: left;
            min-height: 20px;
            padding: 0 15px 5px 0;
            min-width: 200px;
            margin-bottom: 10px;
            background-color: #fbfbfb;
            border: 1px solid #999;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
            -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05)
        }

        #menu-tree li {
            list-style-type: none;
            margin-left: 10px;
            padding: 5px 5px 0 15px;
            position: relative;
            width: auto
        }

        #menu-tree li::before {
            content: '';
            left: 0;
            top: 0;
            position: absolute;
            border-left: 1px solid #999;
            height: 100%;
        }

        #menu-tree li > i {
            font-style: normal;
            cursor: pointer;
            margin-left: 5px;
        }

        #menu-tree > li::before {
            border: 0
        }

        #menu-tree > li:first-child > i {
            float: right;
        }
    </style>
</head>
<body>
<link rel="dns-prefetch" href="//cdn.mathjax.org"/>
<!-- 头部 -->
<!--
// 1.Segmentfault.com默认的solarized_light风格
https://apps.bdimg.com/libs/highlight.js/9.1.0/styles/solarized_light.min.css
// 2.sublime主题风格
https://apps.bdimg.com/libs/highlight.js/9.1.0/styles/monokai-sublime.min.css
// 3.默认风格
http://apps.bdimg.com/libs/highlight.js/9.1.0/styles/default.min.css
-->
<link rel="stylesheet" type="text/css" href="https://apps.bdimg.com/libs/highlight.js/9.1.0/styles/vs.min.css">
<div th:include="themes/autumn/include/header::commonHeaderContent"></div>
<div class="content whisper-content leacots-content details-content">
    <div class="cont w1000">
        <div class="whisper-list">
            <div class="item-box">
                <div class="review-version">
                    <div class="form-box">
                        <div class="article-cont">
                            <div class="title">
                                <h3 th:text="${post.postTitle}">标题</h3>
                                <p class="cont-info"><span class="data" th:text="${#dates.format(post.postDate, 'yyyy/MM/dd HH:mm:ss')}">2018/08/08</span><span class="types">Java</span></p>
                            </div>
                            <div>
                                <div id="menu-tree" style="display: none;"></div>
                                <div class="clear"></div>
                                <div id="article-content" th:utext="${post.postContent}">正文</div>
                                <div class="btn-box">
                                    <button class="layui-btn layui-btn-primary">上一篇</button>
                                    <button class="layui-btn layui-btn-primary">下一篇</button>
                                </div>
                            </div>
                            <div class="form">
                                <form class="layui-form" action="">
                                    <div class="layui-form-item layui-form-text">
                                        <div class="layui-input-block">
                                            <textarea name="desc" placeholder="既然来了，就说几句" class="layui-textarea"></textarea>
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <div class="layui-input-block" style="text-align: right;">
                                            <button class="layui-btn definite">提交</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="volume">
                            全部留言 <span>1</span>
                        </div>
                        <div class="list-cont">
                            <div class="cont">
                                <div class="img">
                                    <img th:src="@{|/templates/themes/${siteConfigDTO.webtheme}/images/header.png|}" alt="header">
                                </div>
                                <div class="text">
                                    <p class="tit"><span class="name">小塔</span><span class="data" th:text="${#dates.format(post.postModified, 'yyyy/MM/dd')}">2018/06/06</span></p>
                                    <p class="ct">不错，支持！</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="pager" style="text-align: center;"></div>
        </div>
    </div>
    <script type="text/html" id="laytplCont">
        <div class="cont">
            <div class="img">
                {{# if(d.avatar){ }}
                <img src="{{d.avatar}}" alt="">
                {{# } else { }}
                <img th:src="@{|/themes/${siteConfigDTO.webtheme}/images/header.png|}" alt="header">
                {{# } }}
            </div>
            <div class="text">
                <p class="tit"><span class="name">{{d.name}}</span><span class="data">2018/06/06</span></p>
                <p class="ct">{{d.cont}}</p>
            </div>
        </div>
    </script>

    <!-- hilightjs -->
    <script type="text/javascript" src="http://apps.bdimg.com/libs/highlight.js/9.1.0/highlight.min.js"></script>
    <!-- mathjax -->
    <script src="//cdn.bootcss.com/mathjax/2.7.4/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <div th:include="themes/autumn/include/footer::commonFooterCustom(~{::script})">
        <script type="text/javascript">
            layui.config({
                version: "3.0.0"
                , base: window.BUGUCMS_THEME_PATH + 'js/' //这里实际使用时，建议改成绝对路径
            }).use(['element', 'laypage', 'form', 'menu'], function () {
                var element = layui.element, laypage = layui.laypage, form = layui.form, menu = layui.menu;
                laypage.render({
                    elem: 'pager'
                    , count: 70 //数据总数，从服务端得到
                });
                menu.init();
                menu.submit();
            });

            $('pre code').each(function (i, block) {
                hljs.highlightBlock(block);
            });

            MathJax.Hub.Config({
                tex2jax: {
                    inlineMath: [
                        ["$", "$"], ["\\(", "\\)"]
                    ]
                }
            });

            //构造树
            function buildTreeData(tree, node) {
                if (tree.childrens.length == 0) {
                    tree.childrens.push(node);
                } else {
                    var lastNode = tree.childrens[tree.childrens.length - 1];
                    if (node.tagName > lastNode.tagName) {
                        buildTreeData(lastNode, node);
                    } else {
                        tree.childrens.push(node);
                    }
                }
            }

            //初始化生成树
            function initTree(note) {
                var result = $("<li>" + note.text + "</li>");
                var size = note.childrens.length;
                if (size > 0) {
                    var toggle = $("<i title='展开'>[+]</i>");
                    toggle.on('click', function (e) {
                        var children = $(this).next('ul');
                        if (children.is(":visible")) {
                            children.hide('fast');
                            $(this).attr('title', '展开').text("[+]");
                        } else {
                            children.show('fast');
                            $(this).attr('title', '关闭').text("[-]");
                        }
                        e.stopPropagation();
                    });
                    result.append(toggle);

                    var ul = $("<ul style='display: none;'></ul>");
                    for (var i = 0; i < size; i++) {
                        ul.append(initTree(note.childrens[i]));
                    }
                    result.append(ul);

                    // 默认展开
                    toggle.click();
                }

                return result;
            }


            //生成目录菜单树
            $(function () {
                var tree = {tagName: "H0", text: "<span>目录<span>", childrens: []};
                var tags = ['H1', 'H2', 'H3', 'H4', 'H5', 'H6'];
                $.each($('#article-content').children(), function (i, val) {
                    if (tags.indexOf(val.tagName) > -1) {
                        var name = "p" + i;
                        $(val).before("<a name='" + name + "'></a>");
                        var node = {
                            tagName: val.tagName,
                            text: "<a href='#" + name + "'>" + val.textContent + "</a>",
                            childrens: []
                        };
                        buildTreeData(tree, node);
                    }
                });

                var menuTres = $("#menu-tree");
                if (tree.childrens.length > 0) {
                    menuTres.prepend(initTree(tree));
                    menuTres.show();
                } else {
                    menuTres.hide();
                }
            });
        </script>
    </div>
</body>
</html>