<!--
__________  _________    _____________  ___      ______      ___  _________    _____________
| __________| / ______ /   |  __________ | \ \     | | \ \     | | | / ______  |  __________ |
    |  |    | |          |    _________   \ \    | |  \ \    | || | |          |  __________
   |  |     | | ______   |  /_________ |  \ \   | |   \ \   | |   | | ______   |  /_________|
  |  |      | |______ | |  | \ \          \ \  | |    \ \  | |    | |______ | |  | \ \
 |  |       | |________ |  |  \ \_______  \ \| |      \ \ |_|     | |________ |  |  \ \_______
|__|        /_/______ | | _|   \______/   \_\_|       \_ |_|      /_/______ | | _|   \______/
-->
<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<h1 th:text="This is simple theme">This is simple theme</h1>
</body>
</html>