<!--
  _______
 |__   __|
    | |  ___  _ __ __      __ ___  _ __
    | | / _ \| '__|\ \ /\ / // _ \| '__|
    | ||  __/| |    \ V  V /|  __/| |
    |_| \___||_|     \_/\_/  \___||_|
-->
<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:fragment="commonHeaderCustom(title,styles)">
    <title th:text="${title}"></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" th:content="${siteConfigDTO.keywords}">
    <meta name="description" th:content="${siteConfigDTO.description}">
    <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}">
    <!-- layui -->
    <link rel="stylesheet" type="text/css" th:href="@{/static/lib/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{|/templates/themes/${siteConfigDTO.webtheme}/css/global.css?v=20181114170001|}">
    <script type="text/javascript" th:inline="javascript">
        //必须在服务器运行，不能直接打开
        /^http(s*):\/\//.test(location.href) || alert('请先部署到 localhost 下再访问');
        //设置项目根路径
        window.BUGUCMS_BASE_URL = /*[[@{/}]]*/'/';
        window.BUGUCMS_THEME_PATH = /*[[@{|/templates/themes/${siteConfigDTO.webtheme}/|}]]*/'/static/themes/default/';
    </script>
    <style type="text/css">
        .layui-nav .top-menu-item i {
            font-size: 20px !important;
            margin-right: 5px !important;;
        }

        .layui-nav .top-menu-item a {
            font-size: 20px !important;
        }

        .layui-nav .top-menu-item a span {
            font-size: 14px !important;
        }

        .layui-nav .layui-hide-xs a {
            font-size: 22px !important;
        }
    </style>
    <th:block th:replace="${styles}"/>
</head>
<body>
<div class="fly-header layui-bg-black" th:fragment="commonHeaderContent" th:remove="tag">
    <div class="fly-header layui-bg-black">
        <div class="layui-container">
            <a class="fly-logo" th:href="@{/}">
                <img th:src="@{|/templates/themes/${siteConfigDTO.webtheme}/images/logo.png|}" alt="layui">
            </a>
            <ul class="layui-nav layui-hide-xs">
                <li class="layui-nav-item layui-this top-menu-item">
                    <a th:href="@{/}"><i class="iconfont icon-jiaoliu"></i><span>网站首页</span></a>
                </li>
                <div th:if="${sysUserDTO!=null}" th:remove="tag">
                    <li class="layui-nav-item top-menu-item">
                        <a th:href="@{/essay.html}"><i class="iconfont icon-iconmingxinganli"></i><span>心情随笔</span></a>
                    </li>
                </div>
                <li class="layui-nav-item top-menu-item">
                    <a th:href="@{/guestbook.html}"><i class="iconfont icon-iconmingxinganli"></i><span>给我留言</span></a>
                </li>
                <li class="layui-nav-item top-menu-item">
                    <a href="https://github.com/terwer/bugucms" target="_blank"><i class="iconfont icon-ui"></i><span>本站源码</span></a>
                </li>
                <div class="layui-nav fly-nav-user">
                    <div th:with="condition=${sysUserDTO==null}" th:remove="tag">
                        <div th:if="${condition}">
                            <!-- 未登入的状态 -->
                            <span sec:authorize="!hasRole('ROLE_ADMIN')">
                                    <li class="layui-nav-item top-menu-item">
                                        <a class="iconfont icon-touxiang layui-hide-xs" th:href="@{/auth/login}"></a>
                                    </li>
                                    <li class="layui-nav-item top-menu-item">
                                        <a th:href="@{/auth/login}"><span>登入</span></a>
                                    </li>
                                    <li class="layui-nav-item top-menu-item">
                                        <a th:href="@{/auth/register}"><span>注册</span></a>
                                    </li>
                                    <li class="layui-nav-item layui-hide-xs top-menu-item">
                                        <a th:href="@{/app/qq}" onclick="layer.msg('正在通过QQ登入', {icon:16, shade: 0.1, time:0})" title="QQ登入" class="iconfont icon-qq"></a>
                                    </li>
                                    <li class="layui-nav-item layui-hide-xs top-menu-item">
                                        <a th:href="@{/app/weibo}" onclick="layer.msg('正在通过微博登入', {icon:16, shade: 0.1, time:0})" title="微博登入" class="iconfont icon-weibo"></a>
                                    </li>
                                </span>
                        </div>
                        <div th:unless="${condition}">
                            <!-- 登入后的状态 -->
                            <span th:fragment="logout" class="logout" sec:authorize="isAuthenticated()">
                                    <li class="layui-nav-item">
                                        <a class="fly-nav-avatar" href="javascript:;">
                                            <cite class="layui-hide-xs" th:text="${sysUserDTO.nickName}">
                                            </cite>
                                            <i class="iconfont icon-renzheng layui-hide-xs" title="认证信息：管理员">
                                                <span th:text="${sysUserDTO.sysRoles.get(0).cnName}"></span>
                                            </i>
                                            <i class="layui-badge fly-badge-vip layui-hide-xs">VIP3</i>
                                            <img src="https://tvax1.sinaimg.cn/crop.0.0.540.540.180/0075uTFdly8fs75paasl1j30f00f0afd.jpg">
                                        </a>
                                        <dl class="layui-nav-child">
                                            <dd><a href="user/set.html"><i class="layui-icon">&#xe620;</i>基本设置</a></dd>
                                            <dd><a href="user/message.html"><i class="iconfont icon-tongzhi" style="top: 4px;"></i>我的消息</a></dd>
                                            <dd><a th:href="@{/}"><i class="layui-icon" style="margin-left: 2px; font-size: 22px;">&#xe68e;</i>我的主页</a></dd>
                                            <hr style="margin: 5px 0;">
                                            <dd><a th:href="@{/logout}" style="text-align: center;">退出</a></dd>
                                        </dl>
                                    </li>
                                </span>
                        </div>
                    </div>
                </div>
            </ul>
        </div>
    </div>
</div>
</body>
</html>