<!--
  _______
 |__   __|
    | |  ___  _ __ __      __ ___  _ __
    | | / _ \| '__|\ \ /\ / // _ \| '__|
    | ||  __/| |    \ V  V /|  __/| |
    |_| \___||_|     \_/\_/  \___||_|
-->
<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:include="themes/fly/include/header::commonHeaderCustom('关于本站 - ' + ${siteConfigDTO.webname},~{::style})">
    <style type="text/css">
        .about{
            height: 100%;
            line-height: 50px;
            font-size: 24px;
            padding-bottom: 20px;
            padding-top: 20px;
        }
    </style>
</head>
<body>
<div th:include="themes/fly/include/header::commonHeaderContent"></div>

<div class="fly-panel fly-column about">
    <div class="layui-container">
        <div class="text-center">
            <div>
                谢谢您，您是第12696位访客。
            </div>

            <br/>
            <h1>网站简介</h1>
            <br/>
            <div>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span style="font-size: 48px">远</span>方的灯塔是关注与分享互联网及服务端开发技术的个人博客，致力于Java后端开发及服务端技术、软件架构、微服务技术分享。同时也记录个人的一路点滴，所蕴含的包括前端、后端、数据库等知识，欢迎关注。
            </div>

            <div>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span style="font-size: 48px">人</span>生在世，有些事情，有些选择，是不需要理由的。年轻就该去探索，去尝试。人生最大的悲哀不是失败，而是甘于现状，因为他一开始就失败了。
            </div>

            <br/>
            <h1>作者简历</h1>
            <br/>
            <div>
                2014年7月1日毕业于湖北省长江大学软件工程，在CRM客户关系管理、电子商务、互联网金融、互联网K12教育等领域有丰富的工作经验。
            </div>
            <div>
                专注于项目架构、性能优化、算法研究。在Web开发领域有深入研究，精通Java，目前专注于服务端开发。业余时间喜欢探索移动互联网。
            </div>
            <br/>
            <div>作者邮箱：youweics@sina.com</div>
        </div>
    </div>
</div>

<div th:include="themes/fly/include/footer::commonFooterCustom(~{::script})">
    <script type="text/javascript">

    </script>
</div>
</body>
</html>