<!--
  _______
 |__   __|
    | |  ___  _ __ __      __ ___  _ __
    | | / _ \| '__|\ \ /\ / // _ \| '__|
    | ||  __/| |    \ V  V /|  __/| |
    |_| \___||_|     \_/\_/  \___||_|
-->
<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:include="themes/fly/include/header::commonHeaderCustom('随笔 - ' + ${siteConfigDTO.webname},~{::style})">
    <style type="text/css">
        [v-cloak] {
            display: none;
        }

        .read-more a{
            color: #1E9FFF;
        }

        .load-more{
            color: #FFB800;
        }
    </style>
</head>
<link rel="stylesheet" type="text/css" th:href="@{|/themes/${siteConfigDTO.webtheme}/css/essay.css|}">
<body class="lay-blog">

<div th:include="themes/fly/include/header::commonHeaderContent"></div>

<div class="container-wrap">
    <div class="container container-message">
        <div class="contar-wrap" id="contar-wrap">
            <form class="layui-form" action="">
                <div class="layui-form-item layui-form-text">
                    <textarea class="layui-textarea" id="LAY-msg-content" style="resize:none"></textarea>
                </div>
            </form>
            <div class="item-btn">
                <button class="layui-btn layui-btn-normal" id="item-btn">提交</button>
            </div>

            <div id="LAY-msg-box">
                <div class="info-box">
                    <div class="info-item" v-for="timeline in timelines">
                        <img class="info-img" src="https://tvax1.sinaimg.cn/crop.0.0.540.540.180/0075uTFdly8fs75paasl1j30f00f0afd.jpg" alt="">
                        <div class="info-text">
                            <h1 v-cloak>{{ timeline.title }}</h1>
                            <p class="title count">
                                <span class="name">倚楼听雨</span>
                                <span class="info-img like"><i class="layui-icon layui-icon-praise"></i>5.8万</span>
                            </p>
                            <p class="info-intr" v-html="timeline.content" v-cloak>
                            </p>
                            <p class="read-more">
                                <span v-if="timeline.content.indexOf('...') >= 0">
                                    <a  th:alt="@{/post/}" v-bind:title="timeline.key" href="javascript:void(0);" v-on:click="read">阅读全文</a>
                                </span>
                            </p>
                        </div>
                    </div>
                    <div class="load-more text-center">
                        <p></p>
                        <p></p>
                        <p v-text="tips">加载更多</p>
                    </div>
                </div>
            </div>

            <!--<div id="test1" class="paging"></div>-->
        </div>
    </div>
</div>
</div>

<div th:include="themes/fly/include/footer::commonFooterCustom(~{::script})">
    <script type="text/javascript" th:src="@{|/themes/${siteConfigDTO.webtheme}/js/essay.js|}"></script>
    <!-- vuejs开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript">
        var currentPage = 1;

        function getData() {
            $.post(BUGUCMS_BASE_URL + "api/post/essay", {page: currentPage}, function (res) {
                console.log("timelines:" + JSON.stringify(res.data.timelines));
                if (res.data.timelines.length == 0) {
                    app.tips = '加载完成';
                } else {
                    ++currentPage;
                }
                for (var idx in res.data.timelines) {
                    var timeline = res.data.timelines[idx];
                    app.timelines.push(timeline);
                }
            });
        }

        var app = new Vue({
                el: '#LAY-msg-box',
                data: {
                    timelines: [
                        // {key: '20180823100000', year: '2018', title: 'Hello content1!', content: 'content1'}
                    ],
                    tips: '努力加载中...'
                },
                created: function () {
                    this.tips = "加载更多";
                    getData();
                },
                mounted: function () {
                    // 添加滚动事件，检测滚动到页面底部
                    window.addEventListener('scroll', this.scrollBottom)
                },
                // 在 `methods` 对象中定义方法
                methods: {
                    read: function (event) {
                        // `this` 在方法里指向当前 Vue 实例
                        console.log('alt:' + $(event.target).attr("alt"));
                        console.log('title:' + $(event.target).attr("title"));
                        var url = BUGUCMS_BASE_URL + 'post/' + $(event.target).attr("title") + '.html';
                        //window.location.href = url;
                        redirect_blank(url);
                        // `event` 是原生 DOM 事件
                        if (event) {
                            console.log('e:' + event.target.tagName);
                        }

                        function redirect_blank(url) {
                            var a = document.createElement('a');
                            a.target = "_blank";
                            a.href = url;
                            a.click();
                        }
                    },
                    scrollBottom() {
                        //鼠标滚动到页面最底部加载数据
                        var documentHeight = [0];
                        if ($(document).scrollTop() + $(window).height() > $(document).height() - 1) {
                            documentHeight.push($(document).height());
                            if (documentHeight[documentHeight.length - 1] > documentHeight[documentHeight.length - 2]) {
                                documentHeight[documentHeight.length - 2] = documentHeight[documentHeight.length - 2] + documentHeight[documentHeight.length - 1];
                                this.tips = '努力加载中...';
                                getData();
                                console.log("next data" + currentPage);
                            }
                        }
                    }
                }
            })
        ;

        $(function () {

        });
    </script>
</div>

<script id="LAY-msg-tpl" type="text/html">
    <div class="info-box">
        <div class="info-item">
            <img class="info-img" src="{{ d.avatar }}" alt="">
            <div class="info-text">
                <p class="title">
                    <span class="name">{{ d.username }}</span>
                    <span class="info-img">
					  	<i class="layui-icon layui-icon-praise"></i>
					  	{{ d.praise }}
					 	</span>
                </p>
                <p class="info-intr">
                    {{ d.content }}
                </p>
            </div>
        </div>
    </div>
</script>

</body>
