<!--
  _______
 |__   __|
    | |  ___  _ __ __      __ ___  _ __
    | | / _ \| '__|\ \ /\ / // _ \| '__|
    | ||  __/| |    \ V  V /|  __/| |
    |_| \___||_|     \_/\_/  \___||_|
-->
<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:include="themes/fly/include/header::commonHeaderCustom('留言 - ' + ${siteConfigDTO.webname},~{::style})">
    <style type="text/css">

    </style>
</head>
<link rel="stylesheet" type="text/css" th:href="@{|/templates/themes/${siteConfigDTO.webtheme}/css/guestbook.css|}">
<body class="lay-blog">

<div th:include="themes/fly/include/header::commonHeaderContent"></div>

<div class="container-wrap">
    <div class="container container-message">
        <div class="contar-wrap" id="contar-wrap">

            <!--PC和WAP自适应版-->
            <div id="SOHUCS"></div>
            <script type="text/javascript">
                (function(){
                    var appid = 'cytOAYsQ3';
                    var conf = 'prod_802873e63fec48cc9dd8666aa725a3d7';
                    var width = window.innerWidth || document.documentElement.clientWidth;
                    if (width < 960) {
                        window.document.write('<script id="changyan_mobile_js" charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/mobile/wap-js/changyan_mobile.js?client_id=' + appid + '&conf=' + conf + '"><\/script>'); } else { var loadJs=function(d,a){var c=document.getElementsByTagName("head")[0]||document.head||document.documentElement;var b=document.createElement("script");b.setAttribute("type","text/javascript");b.setAttribute("charset","UTF-8");b.setAttribute("src",d);if(typeof a==="function"){if(window.attachEvent){b.onreadystatechange=function(){var e=b.readyState;if(e==="loaded"||e==="complete"){b.onreadystatechange=null;a()}}}else{b.onload=a}}c.appendChild(b)};loadJs("https://changyan.sohu.com/upload/changyan.js",function(){window.changyan.api.config({appid:appid,conf:conf})}); } })();
            </script>

            <!--<form class="layui-form" action="">-->
                <!--<div class="layui-form-item layui-form-text">-->
                    <!--<textarea  class="layui-textarea" id="LAY-msg-content" style="resize:none"></textarea>-->
                <!--</div>-->
            <!--</form>-->
            <!--<div class="item-btn">-->
                <!--<button class="layui-btn layui-btn-normal" id="item-btn">提交</button>-->
            <!--</div>-->

            <!--<div id="LAY-msg-box">-->
                <!--<div class="info-box">-->
                    <!--<div class="info-item">-->
                        <!--<img class="info-img" th:src="@{|/themes/${siteConfigDTO.webtheme}/images/avatar/default.png|}" alt="">-->
                        <!--<div class="info-text">-->
                            <!--<p class="title count">-->
                                <!--<span class="name">一片空白</span>-->
                                <!--<span class="info-img like"><i class="layui-icon layui-icon-praise"></i>5.8万</span>-->
                            <!--</p>-->
                            <!--<p class="info-intr">沙发</p>-->
                        <!--</div>-->
                        <!--<div class="info-respond pull-right" sec:authorize="hasRole('ROLE_ADMIN')">-->
                            <!--<button class="layui-btn layui-btn-sm">回复</button>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="info-item">-->
                        <!--<img class="info-img" th:src="@{|/themes/${siteConfigDTO.webtheme}/images/avatar/default.png|}" alt="">-->
                        <!--<div class="info-text">-->
                            <!--<p class="title count">-->
                                <!--<span class="name">一片空白</span>-->
                                <!--<span class="info-img like"><i class="layui-icon layui-icon-praise"></i>5.8万</span>-->
                            <!--</p>-->
                            <!--<p class="info-intr">留下脚印啊。</p>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div id="test1" class="paging"></div>-->
        </div>
    </div>
</div>

<div th:include="themes/fly/include/footer::commonFooterCustom(~{::script})">
    <script type="text/javascript" th:src="@{|/templates/themes/${siteConfigDTO.webtheme}/js/guestbook.js|}"></script>
    <script type="text/javascript">

    </script>
</div>

<!--<script id="LAY-msg-tpl" type="text/html">-->
    <!--<div class="info-box">-->
        <!--<div class="info-item">-->
            <!--<img class="info-img" src="{{ d.avatar }}" alt="">-->
            <!--<div class="info-text">-->
                <!--<p class="title">-->
                    <!--<span class="name">{{ d.username }}</span>-->
                    <!--<span class="info-img">-->
					  	<!--<i class="layui-icon layui-icon-praise"></i>-->
					  	<!--{{ d.praise }}-->
					 	<!--</span>-->
                <!--</p>-->
                <!--<p class="info-intr">-->
                    <!--{{ d.content }}-->
                <!--</p>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</script>-->

</body>
</html>