<!--
  _______
 |__   __|
    | |  ___  _ __ __      __ ___  _ __
    | | / _ \| '__|\ \ /\ / // _ \| '__|
    | ||  __/| |    \ V  V /|  __/| |
    |_| \___||_|     \_/\_/  \___||_|
-->
<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:include="themes/fly/include/header::commonHeaderCustom(${siteConfigDTO.webname} + ' - ' + ${siteConfigDTO.webslogen},~{::style})">
    <style type="text/css">
        ul, li {
            list-style: none !important;
        }

        .archive-content {
            color: #999;
            overflow: hidden;
        }

        .clear {
            clear: both;
        }

        hr {
            padding: 0 5px;
        }
    </style>
</head>
<body>

<div th:include="themes/fly/include/header::commonHeaderContent"></div>

<div class="fly-panel fly-column">
    <div class="layui-container">
        <ul class="layui-clear">
            <li class="layui-hide-xs layui-this"><a th:href="@{/}">文章</a></li>
            <div th:if="${sysUserDTO!=null}" th:remove="tag">
                <li><a th:href="@{/?q=note}">笔记</a></li>
                <li><a th:href="@{/essay.html}">随笔<span class="layui-badge-dot"></span></a></li>
            </div>
            <li><a th:href="@{/guestbook.html}">留言<span class="layui-badge-dot"></span></a></li>
            <li><a th:href="@{/about.html}">关于</a></li>
            <li class="layui-hide-xs layui-hide-sm layui-show-md-inline-block"><span class="fly-mid"></span></li>
            <div th:if="${sysUserDTO!=null}" th:remove="tag">
                <!-- 用户登入后显示 -->
                <li class="layui-hide-xs layui-hide-sm layui-show-md-inline-block"><a th:href="@{/a/?action=postManage/list&title=我发表的文章}">我发表的文章</a></li>
            </div>
        </ul>

        <div class="fly-column-right layui-hide-xs">
            <span class="fly-search"><i class="layui-icon"></i></span>
            <a th:href="@{/a/?action=postManage/new&title=发布文章}" class="layui-btn" sec:authorize="hasRole('ROLE_ADMIN')">发布文章</a>
        </div>
        <div class="layui-hide-sm layui-show-xs-block" style="margin-top: -10px; padding-bottom: 10px; text-align: center;" sec:authorize="hasRole('ROLE_ADMIN')">
            <a href="#" class="layui-btn">发布文章</a>
        </div>
    </div>
</div>

<div class="layui-container">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md8">
            <div class="fly-panel">
                <ul class="fly-list">
                    <li th:each="dingPost,listStat:${dingPostList}">
                        <h2>
                            <a th:href="@{|/post/${dingPost.postSlug eq '' ?dingPost.postId:dingPost.postSlug}.html|}" th:text="${dingPost.postTitle}">标题</a>
                            <span class="layui-badge layui-bg-red" style="border:none;" th:if="${dingPost.newFlag}">new</span>
                        </h2>
                        <div class="fly-list-info">
                            <a th:href="@{/}" link>
                                <cite th:text="${dingPost?.sysUser?.nickName}">小布</cite>
                            </a>
                            <span>刚刚</span>
                            <span class="fly-list-kiss layui-hide-xs" title="查看次数"><i class="iconfont" title="人气">&#xe60b;</i><span th:text="${dingPost.viewCount}">0</span></span>
                        </div>
                        <div class="fly-list-badge">
                            <span class="layui-badge layui-bg-red" th:text="${dingPost?.ding?.metaValue}">公告</span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="fly-panel">
                <ul class="fly-list">
                    <postList th:each="post,listStat:${postList}" th:remove="tag">
                        <div th:if="${post.thumbnails.size() > 0}" th:remove="tag">
                            <li class="layui-col-md3 layui-col-xs12" style="padding-right: 0;">
                                <div style="width: 98%;">
                                    <a th:href="@{|/post/${post.postSlug eq '' ?post.postId:post.postSlug}.html|}">
                                        <img th:src="${post.thumbnails.get(0)}" th:alt="${post.postTitle}" style="width: 100%;height: 130px;">
                                    </a>
                                </div>
                            </li>
                        </div>
                        <li th:class="${post.thumbnails.size() > 0?'layui-col-md9 layui-col-xs12':'layui-col-md12 layui-col-xs12'}">
                            <div>
                                <h2>
                                    <a th:href="@{|/post/${post.postSlug eq '' ?post.postId:post.postSlug}.html|}" th:text="${post.postTitle}">标题</a>
                                    <span class="layui-badge layui-bg-red" style="border:none;" th:if="${post.newFlag}">new</span>
                                </h2>
                                <div class="fly-list-info">
                                    <a th:href="@{/}" link>
                                        <cite th:text="${post?.sysUser?.nickName}">小布</cite>
                                    </a>
                                    <span>刚刚</span>
                                    <span class="fly-list-kiss layui-hide-xs" title="查看次数"><i class="iconfont" title="人气">&#xe60b;</i><span th:text="${post.viewCount}">0</span></span>
                                </div>
                                <div>
                                    <div class="archive-content" th:text="${post.postDesc}">postDesc</div>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </li>
                        <hr/>
                    </postList>
                </ul>
                <div style="text-align: center">
                    <div class="laypage-main">
                        <a th:href="@{|/post/page/${page}|}" class="laypage-next">下一页</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-md4">
            <div>
                <div class="fly-panel">
                    <div class="fly-panel-title">
                        本站源码
                    </div>
                    <div class="fly-panel-main">
                        <a href="https://github.com/terwer/bugucms" target="_blank" class="fly-zanzhu" time-limit="2017.09.25-2099.01.01" style="background-color: #5FB878;">BuguCMS 1.0 - CMS旗舰之作</a>
                    </div>
                </div>

                <div class="fly-panel">
                    <div class="fly-panel-title">
                        关注本站
                    </div>
                    <div class="fly-panel-main">
                        <img th:src="@{|/templates/themes/${siteConfigDTO.webtheme}/images/mp-qrcode.png|}" style="max-width: 95%;" alt="layui">
                    </div>
                </div>

                <!--<dl class="fly-panel fly-list-one">-->
                <!--<dt class="fly-panel-title">热门文章</dt>-->
                <!--<dd>-->
                <!--<a th:href="@{/post/1.html}">基于 layui 的极简社区页面模版</a>-->
                <!--<span><i class="iconfont icon-pinglun1"></i> 16</span>-->
                <!--</dd>-->
                <!-- 无数据时 -->
                <!--<div class="fly-none">没有相关数据</div>-->
                <!--</dl>-->
            </div>

            <div class="fly-panel fly-link">
                <h3 class="fly-panel-title">友情链接</h3>
                <dl class="fly-panel-main">
                    <dd>
                        <a href="http://www.terwergreen.com/" target="_blank">远方的灯塔</a>
                    <dd>
                    <dd>
                        <a href="https://www.layui.com/" target="_blank">layui</a>
                    <dd>
                    <dd>
                        <a href="http://lusongsong.com/" target="_blank">卢松松博客</a>
                    </dd>
                    <dd>
                        <a th:href="@{/guestbook.html}" class="fly-link">申请友链</a>
                    <dd>
                </dl>
            </div>

        </div>
    </div>
</div>

<div th:include="themes/fly/include/footer::commonFooterCustom(~{::script})">
    <script type="text/javascript">
        layui.cache.page = '';
        layui.cache.user = {
            username: '游客'
            , uid: -1
            , avatar: window.BUGUCMS_THEME_PATH + 'images/avatar/default.png'
            , experience: 83
            , sex: '男'
        };
        layui.config({
            version: "3.0.0"
            , base: window.BUGUCMS_THEME_PATH + 'js/' //这里实际使用时，建议改成绝对路径
        }).extend({
            fly: 'index'
        }).use('fly');
    </script>
</div>
</body>
</html>