<!--
  _______
 |__   __|
    | |  ___  _ __ __      __ ___  _ __
    | | / _ \| '__|\ \ /\ / // _ \| '__|
    | ||  __/| |    \ V  V /|  __/| |
    |_| \___||_|     \_/\_/  \___||_|
-->
<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:include="themes/fly/include/header::commonHeaderCustom(${post.postTitle} + ' - ' + ${siteConfigDTO.webname},~{::style})">
    <style type="text/css">
        .clear {
            clear: both;
        }

        /* 代码行号处理 */
        #article-content  {counter-reset: line;padding-top: 10px;}
        #article-content ol {padding: 10px 0;}
        #article-content li {list-style: none;}
        #article-content ol li:before {counter-increment: line;content:'第'counter(line)'点';font-size:24px;font-weight:bold;display: block;margin-bottom:10px;}
        #article-content li code{color:#d73a49;background-color: #f8f8f8;font-family: Courier New;font-size: 16px;line-height: 20px;tab-size: 2;}

        /*生成博客目录的CSS*/
        #menu-tree {
            float: left;
            min-height: 20px;
            padding: 0 15px 5px 0;
            min-width: 200px;
            margin-bottom: 10px;
            background-color: #fbfbfb;
            border: 1px solid #999;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
            -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05)
        }

        #menu-tree li {
            list-style-type: none;
            margin-left: 10px;
            padding: 5px 5px 0 15px;
            position: relative;
            width: auto
        }

        #menu-tree li::before {
            content: '';
            left: 0;
            top: 0;
            position: absolute;
            border-left: 1px solid #999;
            height: 100%;
        }

        #menu-tree li > i {
            font-style: normal;
            cursor: pointer;
            margin-left: 5px;
        }

        #menu-tree > li::before {
            border: 0
        }

        #menu-tree > li:first-child > i {
            float: right;
        }
    </style>
</head>
<body>

<link rel="dns-prefetch" href="//cdn.mathjax.org"/>
<link rel="stylesheet" type="text/css" href="https://cdn.staticfile.org/highlight.js/9.13.1/styles/vs.min.css">
<link rel="stylesheet" type="text/css" th:href="@{/static/lib/jQuery-zoom/css/zoom.css}">

<div th:include="themes/fly/include/header::commonHeaderContent"></div>

<div class="layui-hide-xs">
    <div class="fly-panel fly-column">
        <div class="layui-container">
            <ul class="layui-clear">
                <li class="layui-hide-xs layui-this"><a th:href="@{/}">文章</a></li>
                <div th:if="${sysUserDTO!=null}" th:remove="tag">
                    <li><a th:href="@{/?q=note}">笔记</a></li>
                    <li><a th:href="@{/essay.html}">随笔<span class="layui-badge-dot"></span></a></li>
                </div>
                <li><a th:href="@{/guestbook.html}">留言<span class="layui-badge-dot"></span></a></li>

                <li><a th:href="@{/about.html}">关于</a></li>
                <li class="layui-hide-xs layui-hide-sm layui-show-md-inline-block"><span class="fly-mid"></span></li>
            </ul>

            <div class="fly-column-right layui-hide-xs">
                <span class="fly-search"><i class="layui-icon"></i></span>
            </div>
        </div>
    </div>
</div>

<div class="layui-container">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12 content detail">
            <div class="fly-panel detail-box">
                <h1 th:text="${post.postTitle}">postTitle</h1>
                <div class="fly-detail-info">
                    <!--
                    <span class="layui-btn layui-btn-xs jie-admin" type="set" field="stick" rank="1">置顶</span>
                    <span class="layui-btn layui-btn-xs jie-admin" type="set" field="stick" rank="0" style="background-color:#ccc;">取消置顶</span>
                    -->
                    <span class="post-date" style="padding: 0 10px;" th:text="${#dates.format(post.postDate, 'yyyy-MM-dd HH:mm:ss')}"></span>
                    <span class="fly-list-nums">
                        <!--<a href="#comment"><i class="iconfont" title="回答">&#xe60c;</i>-->
                        <!--<span th:text="${post.commentCount}"></span>-->
                        <!--</a>-->
                        <i class="iconfont" title="人气">&#xe60b;</i> <span th:text="${post.viewCount+1}">0</span>
                    </span>
                </div>
                <div class="detail-about">
                    <a class="fly-avatar" href="#">
                        <img src="https://tvax1.sinaimg.cn/crop.0.0.540.540.180/0075uTFdly8fs75paasl1j30f00f0afd.jpg" alt="小布">
                    </a>
                    <div class="fly-detail-user">
                        <a href="#" class="fly-link">
                            <cite>小布</cite>
                            <i class="iconfont icon-renzheng" title="认证信息：{{ rows.user.approve }}"></i>
                            <i class="layui-badge fly-badge-vip">VIP3</i>
                        </a>
                    </div>
                    <div class="detail-hits" id="LAY_jieAdmin" data-id="123">
                        <span style="padding-right: 10px; color: #FF7200">管理员</span>
                        <span class="layui-btn layui-btn-xs jie-admin" type="edit" sec:authorize="hasRole('ROLE_ADMIN')">
                            <a th:href="@{|/${siteConfigDTO.adminpath}/?action=postManage/edit/${post.postId}&title=编辑文章|}">编辑</a>
                        </span>
                    </div>
                </div>
                <div class="detail-body photos">
                    <div id="menu-tree" style="display: none;"></div>
                    <div class="clear"></div>
                    <div id="article-content" class="post-content" th:utext="${post.postContent}">postContent</div>
                    <p>
                        本站模版由 BuguCMS（<a href="https://github.com/terwer/bugucms" target="_blank">bugucms.terwergreen.com</a>）倾情提供，只为表明我们对 BuguCMS 执着的信念、以及对未来持续加强的承诺，可作为通用型博客、管理后台或者企业网站等内容管理系统的页面支撑。
                    </p>
                    <p>更新日志：</p>
                    <pre>
# v1.0 2018-9-14
* 采用 layui 2.3.0 作为 UI 支撑
* 全面同步最新的 Fly 社区风格，各种细节得到大幅优化
* 更友好的响应式适配能力
</pre>
                    下载
                    <hr>
                    <p>
                        官网：<a href="http://www.terwergreen.com/" target="_blank">http://bugucms.terwergreen.com</a><br>
                        码云：<a href="https://gitee.com/youweics/bugucms" target="_blank">https://gitee.com/youweics/bugucms</a><br>
                        GitHub：<a href="https://github.com/terwer/bugucms" target="_blank">https://github.com/terwer/bugucms</a>
                    </p>
                </div>
            </div>

            <div class="fly-panel detail-box" id="flyReply">
                <fieldset class="layui-elem-field layui-field-title" style="text-align: center;">
                    <legend>回帖</legend>
                </fieldset>

                <!--PC和WAP自适应版-->
                <div id="SOHUCS" th:sid="${post.postId}"></div>
                <script type="text/javascript">
                    (function () {
                        var appid = 'cytOAYsQ3';
                        var conf = 'prod_802873e63fec48cc9dd8666aa725a3d7';
                        var width = window.innerWidth || document.documentElement.clientWidth;
                        if (width < 960) {
                            window.document.write('<script id="changyan_mobile_js" charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/mobile/wap-js/changyan_mobile.js?client_id=' + appid + '&conf=' + conf + '"><\/script>');
                        } else {
                            var loadJs = function (d, a) {
                                var c = document.getElementsByTagName("head")[0] || document.head || document.documentElement;
                                var b = document.createElement("script");
                                b.setAttribute("type", "text/javascript");
                                b.setAttribute("charset", "UTF-8");
                                b.setAttribute("src", d);
                                if (typeof a === "function") {
                                    if (window.attachEvent) {
                                        b.onreadystatechange = function () {
                                            var e = b.readyState;
                                            if (e === "loaded" || e === "complete") {
                                                b.onreadystatechange = null;
                                                a()
                                            }
                                        }
                                    } else {
                                        b.onload = a
                                    }
                                }
                                c.appendChild(b)
                            };
                            loadJs("https://changyan.sohu.com/upload/changyan.js", function () {
                                window.changyan.api.config({appid: appid, conf: conf})
                            });
                        }
                    })();
                </script>
            </div>
        </div>
    </div>
</div>

<div th:include="themes/fly/include/footer::commonFooterCustom(~{::script})">
    <!-- zoom.js -->
    <script type="text/javascript" src="https://cdn.staticfile.org/zoom.js/0.0.1/zoom.min.js"></script>
    <!-- hilightjs -->
    <script type="text/javascript" src="https://cdn.staticfile.org/highlight.js/9.13.1/highlight.min.js"></script>
    <!-- mathjax -->
    <script src="//cdn.bootcss.com/mathjax/2.7.4/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <!-- zoom.js -->
    <script type="text/javascript" th:src="@{/static/lib/jQuery-zoom/js/transition.js}"></script>
    <script type="text/javascript" src="https://cdn.staticfile.org/jquery-zoom/1.7.21/jquery.zoom.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#article-content img').attr('data-action', 'zoom');
        })

        layui.config({
            base: BUGUCMS_BASE_URL + 'static/lib/',
            version: "3.0.0",
        }).extend({
            conf: 'bugucms/conf',
            post: 'post'
        }).use(['conf', 'jquery'], function () {
            var $ = layui.jquery,
                conf = layui.conf;

            $('pre code').each(function (i, block) {
                hljs.highlightBlock(block);
            });

            MathJax.Hub.Config({
                tex2jax: {
                    inlineMath: [
                        ["$", "$"], ["\\(", "\\)"]
                    ]
                }
            });

            //生成目录菜单树
            $(function () {
                var tree = {tagName: "H0", text: "<span>目录<span>", childrens: []};
                var tags = ['H1', 'H2', 'H3', 'H4', 'H5', 'H6'];
                $.each($('#article-content').children(), function (i, val) {
                    if (tags.indexOf(val.tagName) > -1) {
                        var name = "p" + i;
                        $(val).before("<a name='" + name + "'></a>");
                        var node = {
                            tagName: val.tagName,
                            text: "<a href='#" + name + "'>" + val.textContent + "</a>",
                            childrens: []
                        };
                        buildTreeData(tree, node);
                    }
                });

                var menuTres = $("#menu-tree");
                if (tree.childrens.length > 0) {
                    menuTres.prepend(initTree(tree));
                    menuTres.show();
                } else {
                    menuTres.hide();
                }
            });

            //构造树
            function buildTreeData(tree, node) {
                if (tree.childrens.length == 0) {
                    tree.childrens.push(node);
                } else {
                    var lastNode = tree.childrens[tree.childrens.length - 1];
                    if (node.tagName > lastNode.tagName) {
                        buildTreeData(lastNode, node);
                    } else {
                        tree.childrens.push(node);
                    }
                }
            }

            //初始化生成树
            function initTree(note) {
                var result = $("<li>" + note.text + "</li>");
                var size = note.childrens.length;
                if (size > 0) {
                    var toggle = $("<i title='展开'>[+]</i>");
                    toggle.on('click', function (e) {
                        var children = $(this).next('ul');
                        if (children.is(":visible")) {
                            children.hide('fast');
                            $(this).attr('title', '展开').text("[+]");
                        } else {
                            children.show('fast');
                            $(this).attr('title', '关闭').text("[-]");
                        }
                        e.stopPropagation();
                    });
                    result.append(toggle);

                    var ul = $("<ul style='display: none;'></ul>");
                    for (var i = 0; i < size; i++) {
                        ul.append(initTree(note.childrens[i]));
                    }
                    result.append(ul);

                    // 默认展开
                    toggle.click();
                }

                return result;
            }
        });
    </script>
</div>
</body>
</html>