<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- 头部 -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title th:text="${title} + ' - BUGUCMS管理后台'">BUGUCMS管理后台</title>
    <!-- layui -->
    <link rel="stylesheet" type="text/css" th:href="@{/static/lib/layui/css/layui.css}">
    <!-- 自定义头部开始 -->
    <header layout:fragment="customHeader" th:remove="tag"></header>
    <!-- 自定义头部结束 -->
    <script type="text/javascript" th:inline="javascript">
        //必须在服务器运行，不能直接打开
        /^http(s*):\/\//.test(location.href) || alert('请先部署到 localhost 下再访问');
        //设置项目根路径
        window.BUGUCMS_BASE_URL = /*[[@{/}]]*/ '/';
        window.BUGUCMS_ADMIN_PATH = /*[[${siteConfigDTO.adminpath}]]*/'admin';
    </script>
</head>
<body>
<!-- 页面-->
<div id="main">
    <!-- 正文开始 -->
    <div layout:fragment="content" th:remove="tag">这里是正文</div>
    <!-- 正文结束 -->
</div>
<!-- 底部 -->
<!-- layui -->
<script type="text/javascript" th:src="@{/static/lib/layui/layui.js}"></script>
<!-- jquery -->
<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<!-- 自定义底部开始 -->
<footer layout:fragment="customFooter" th:remove="tag"></footer>
<!-- 自定义底部结束 -->
</body>
</html>