/***
 *      _______
 *     |__   __|
 *        | |  ___  _ __ __      __ ___  _ __
 *        | | / _ \| '__|\ \ /\ / // _ \| '__|
 *        | ||  __/| |    \ V  V /|  __/| |
 *        |_| \___||_|     \_/\_/  \___||_|
 *
 */
.lying-tips{
    margin-top: 20px;
    font-size: 24px;
}

.lying-tips i{
    font-size:24px;
}

.lying-tips .layui-text{
    color:black;
    font-size:24px;
    font-weight:bold;
}