/***
 *      _______
 *     |__   __|
 *        | |  ___  _ __ __      __ ___  _ __
 *        | | / _ \| '__|\ \ /\ / // _ \| '__|
 *        | ||  __/| |    \ V  V /|  __/| |
 *        |_| \___||_|     \_/\_/  \___||_|
 *
 */
.bg-center {text-align: center;}

.bg-warning{color: #a58d17;}

.bg-danger{color:red;}