@charset "utf-8";
#g_help_center {
	cursor: pointer;
}

.layout-login {
	position: absolute;
	top: 30%;
	width: 100%;
}

.book-container {
	width: 360px;
	margin: 0 auto;
}

.logo-area {
	min-height: 120px;
	overflow: hidden;
	position: relative;
}

.logo-area img {
	margin: 0 auto;
	display: block;
}

.logo-intro {
	font-size: 16px;
	font-weight: 400;
	color: #BDC8D3;
	text-align: center;
	padding-top: 20px;
}

.form-container {
	margin: 0 auto;
	position: relative;
	z-index: 10;
	min-height: 130px;
	height: auto;
}

#other-tips {
	text-align: center;
	padding-bottom: 20px;
}

#other-tips a {
	width: 200px;
	color: #ACCFDE;
	margin: 10px auto;
	text-align: center;
}

#forget_pwd {
	margin: 10px auto;
}

.forget-ico {
	display: inline-block;
	width: 18px;
	height: 16px;
	background: url(../img/global-ico.png) 0 -156px;
	vertical-align: -2px;
	margin-right: 4px;
}

#cloud_register {
	padding: 0 20px;
}

.register-ico {
	display: inline-block;
	width: 18px;
	height: 16px;
	background: url(../img/global-ico.png) 0 -378px;
	vertical-align: -2px;
	margin-right: 4px;
}


/*.loading-img{display: none!important;}*/

.ng-form-area {
	display: block!important;
	width: 324px;
	padding-top: 10px;
	height: 280px;
	margin: 0 auto;
	position: relative;
	min-height: 120px;
	height: auto;
}

.shake-area {
	position: relative;
}

input:focus {
	outline: none;
}

.enter-area {
	position: relative;
	margin-bottom: 20px;
}

.enter-item {
	background: #235376;
	border: 1px solid #598fab;
	width: 278px;
	display: block;
	height: 19px;
	line-height: 19px;
	padding: 11px 20px;
	border-radius: 22px;
	color: #f0f4f6;
	font-size: 14px;
	font-weight: bold;
}

.enter-item:focus {
	background: #11466b;
	border: 1px solid #598fab;
}

.orange {
	display: block;
	margin: 0;
	border: 0 none;
	background: none;
	position: absolute;
	top: 73px;
	right: 4px;
	z-index: 10;
	width: 44px;
	height: 44px;
	z-index: 60;
	border-radius: 0 3px 3px 0;
	text-indent: 200px;
	overflow: hidden;
}

#other_method,
.orange {
	cursor: pointer;
	background: url(../img/login_ico.png) 0 0 no-repeat;
}

.orange:hover {
	background-position: 0 -55px;
}

.orange:active {
	background-position: 0 -107px;
}

.change-interface {
	width: 278px;
	border-radius: 22px;
	border: 1px solid #3e7696;
}

@media screen and (max-width: 400px) {
	.ng-form-area {
		width: 300px;
	}
	.enter-item {
		width: 298px;
		height: 43px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-o-box-sizing: border-box;
		box-sizing: border-box;
	}
}

body #ft {
	text-align: center;
	padding: 0 0 10px;
	color: #E0E2E6;
}

body #ft a {
	text-align: center;
	padding: 0 0 10px;
	color: #5ee8a5;
}