#main {
	background: #f5f5f5;
	font: 14px "Microsoft YaHei";
	height: 100%;
	margin: 0 auto;
	padding: 0;
	width: 100%;
}

#regHeader {
	background: #e8e8e8;
	padding: 0;
	width: 100%;
}

#regHeader .header-content {
	margin: 0 auto;
}

#regHeader .logo-area {
	padding-right: 10px;
}

#regHeader .logo {
	background: url(../img/logo-uc.png);
	height: 48px;
	width: 168px
}

#regHeader .header-content span {
	display: inline-block;
	vertical-align: middle
}

#regHeader .header-content .page-title {
	border-left: 1px solid #929292;
	color: #222;
	font-size: 14px;
	height: 30px;
	line-height: 30px;
	padding: 0 10px;
}

#regHeader .header-content .switch-login {
	color: #7d7d7d;
	font-size: 14px;
	line-height: 48px;
}

#regContent {
	text-align: center;
}

#regContent .reg-title {
	background: #fff;
	border-bottom: 2px solid #f5f5f5;
	color: #222;
	font-size: 20px;
	padding: 20px;
	text-align: center
}

.uc-sign-up-wrapper {
	margin: auto;
	background-color: #ffffff;
}

.uc-wrapper .uc-mod-sign-up .uc-button-disabled,
.uc-wrapper .uc-mod-sign-up .uc-button-disabled:focus,
.uc-wrapper .uc-mod-sign-up .uc-button-disabled:hover,
.uc-wrapper .uc-mod-sign-up .uc-button-disabled:visited {
	background-position: 0 0;
	background: #fff;
	color: #22ac69;
	width: 86px
}

.uc-mod-sign-up .uc-sms-tips {
	color: #333;
	display: block;
	font-size: 14px;
	height: 20px;
	line-height: 20px;
	overflow: hidden
}

.uc-mod-sign-up .uc-field-smscodetip {
	/*display: none;*/
	margin-top: 10px
}

.uc-mod-sign-up .uc-field-sms-token {
	/*display: none*/
}

.uc-clearfix {
	margin: 0 auto;
}

.uc-mod-sign-up div.uc-main {
	border: 0;
	box-shadow: none;
	float: none;
	/* margin: 0 auto; */
	padding: 50px 0;
}

.uc-mod-sign-up .uc-main .uc-tip {
	display: block;
	height: 20px;
	margin: 7px 0
}

.uc-mod-sign-up .uc-main .uc-input {
	background: none;
	border: 0;
	line-height: 21px;
	margin: 5px 4px;
	padding: 5px 4px;
	outline: none;
	width: 320px;
}

.uc-mod-sign-up .uc-global-error .uc-tip {
	margin: 0;
	overflow: hidden
}

.uc-mod-sign-up .uc-next-step .uc-nextAndGet-sms-token {
	background: #22ac69;
	border-radius: 4px;
	color: #fff;
	display: block;
	font-size: 14px;
	font-weight: 700;
	height: 40px;
	line-height: 40px;
	text-align: center;
	width: 100%
}

.uc-mod-sign-up .uc-next-step .uc-nextAndGet-sms-token:active {
	background: #149a59
}

.reg-succeed .reg-succeed-title {
	background: #fff;
	border-bottom: 2px solid #f5f5f5;
	color: #222;
	font-size: 20px;
	padding: 20px;
	text-align: center
}

.uc-sign-up-succeed .link {
	color: #22ac69;
	text-decoration: underline;
}

.uc-sign-up-succeed {
	background: #fff;
	height: 204px;
	overflow: hidden;
}

.uc-sign-up-succeed p {
	font-size: 14px;
	margin-bottom: 10px;
	text-align: center;
}

.uc-sign-up-succeed .link {
	color: #22ac69;
	text-decoration: underline;
}

body #ft {
	text-align: center;
	padding: 0 0 10px
}