<!--
  _______
 |__   __|
    | |  ___  _ __ __      __ ___  _ __
    | | / _ \| '__|\ \ /\ / // _ \| '__|
    | ||  __/| |    \ V  V /|  __/| |
    |_| \___||_|     \_/\_/  \___||_|
-->
<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:fragment="commonHeaderCustom(title,styles)">
    <title th:text="${title}"></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" th:content="${siteConfigDTO.keywords}">
    <meta name="description" th:content="${siteConfigDTO.description}">
    <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}">
    <!-- layui -->
    <link rel="stylesheet" type="text/css" th:href="@{/static/lib/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{|/templates/themes/${siteConfigDTO.webtheme}/css/global.css?v=20181114105005|}">
    <script type="text/javascript" th:inline="javascript">
        //必须在服务器运行，不能直接打开
        /^http(s*):\/\//.test(location.href) || alert('请先部署到 localhost 下再访问');
        //设置项目根路径
        window.BUGUCMS_BASE_URL = /*[[@{/}]]*/'/';
        window.BUGUCMS_ADMIN_PATH = /*[[${siteConfigDTO.adminpath}]]*/'admin';
        window.BUGUCMS_THEME_PATH = /*[[@{|/templates/themes/${siteConfigDTO.webtheme}/|}]]*/'/themes/default/';
    </script>
    <th:block th:replace="${styles}"/>
</head>
<body>
<div th:fragment="commonHeaderContent" th:remove="tag">
    <div class="header">
        <div class="menu-btn">
            <div class="menu"></div>
        </div>
        <h1 class="logo">
            <a th:href="@{/}">
                <span>远方的灯塔</span>
                <img th:src="@{|/templates/themes/${siteConfigDTO.webtheme}/images/logo.png|}">
            </a>
        </h1>
        <div class="nav">
            <a th:href="@{/}" class="active">文章</a>
            <div th:if="${sysUserDTO!=null}" th:remove="tag">
                <a th:href="@{/essay.html}">随笔</a>
            </div>
            <a th:href="@{/guestbook.html}">留言</a>
            <a th:href="@{/about.html}">关于</a>
        </div>
        <ul class="layui-nav header-down-nav">
            <li class="layui-nav-item"><a th:href="@{/}" class="active">文章</a></li>
            <div th:if="${sysUserDTO!=null}" th:remove="tag">
                <li class="layui-nav-item"><a th:href="@{/essay.html}">随笔</a></li>
            </div>
            <li class="layui-nav-item"><a th:href="@{/guestbook.html}">留言</a></li>
            <li class="layui-nav-item"><a th:href="@{/about.html}">关于</a></li>
        </ul>
        <p class="welcome-text">
            欢迎来到<span class="name">远方的灯塔</span>~
        </p>
    </div>

    <div class="banner">
        <div class="cont w1000">
            <div class="title">
                <h3 th:text="${siteConfigDTO.webname}">远方的<br/>灯塔</h3>
                <h4 th:text="${siteConfigDTO.webslogen}">积跬步，以致千里</h4>
            </div>
            <div class="amount">
                <p><span class="text">访问量</span><span class="access">10000</span></p>
                <p><span class="text">文章数</span><span class="daily-record">6000</span></p>
            </div>
        </div>
    </div>
</div>
</body>
</html>