<!--
  _______
 |__   __|
    | |  ___  _ __ __      __ ___  _ __
    | | / _ \| '__|\ \ /\ / // _ \| '__|
    | ||  __/| |    \ V  V /|  __/| |
    |_| \___||_|     \_/\_/  \___||_|
-->
<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>BuguCMS</title>
    <link th:href="@{/static/favicon.ico}" rel="shortcut icon" type="image/vnd.microsoft.icon"/>
    <link th:href="@{/webjars/layui/css/layui.css}" rel="stylesheet" type="text/css"/>
    <style type="text/css">
        .text-cernter {
            font-family: "Microsoft YaHei", "Courier New", Consolas, Georgia, 'Times New Roman';
            text-align: center;
            font-size: 80px;
            font-weight: 700;
            line-height: 80px;
        }

        .info {
            font-size: 24px;
        }

        .plugin-info {
            font-size: 16px;
            line-height: 24px;
            font-weight: normal;
        }

        p {
            text-align: center;
        }
    </style>
</head>
<body>
<h1 class="text-cernter">BuguCMS Container </h1>
<h1 class="text-cernter">is serving...</h1>
<h3 class="text-cernter info" th:text="${info}"></h3>
<h3 class="text-cernter info"><a th:href="@{/plugins}">插件信息</a></h3>
<p class="text-cernter plugin-info" th:utext="${pluginInfo}"></p>
<h3 class="text-cernter info"><a th:href="@{/}">首页</a></h3>

<div sec:authorize="!hasRole('ROLE_ADMIN')">
    <p th:if="${!isAdmin}">
        <a th:href="@{/auth/login}"><i class="iconfont"></i>登录</a>
    </p>
</div>

<div sec:authorize="isAuthenticated()">
    <div th:if="${isLogin}">
        <p>当前登录用户:
            <span sec:authentication="name"></span>
            <span th:text="${username}"/>|
            角色:
            <span sec:authentication="principal.authorities"></span>
            <span th:each="role,roleStat:${roles}">
                <span th:text="${role}"></span>
            </span>
        </p>
        <p>
            <a th:href="@{/logout}"><i class="iconfont"></i>注销</a>
        </p>
    </div>
</div>

<div sec:authorize="hasRole('ROLE_ADMIN')">
    <div th:if="${isAdmin}">
        <p class="text-cernter info"><a th:href="@{|/${adminPath}|}">后台管理</a></p>
    </div>
</div>

<!-- jquery -->
<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<!-- layui -->
<script type="text/javascript" th:src="@{/webjars/layui/layui.js}"></script>
</body>
</html>