<!--
  _______
 |__   __|
    | |  ___  _ __ __      __ ___  _ __
    | | / _ \| '__|\ \ /\ / // _ \| '__|
    | ||  __/| |    \ V  V /|  __/| |
    |_| \___||_|     \_/\_/  \___||_|
-->
<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>重置密码 - Bugucms</title>
    <link rel="stylesheet" th:href="@{/static/lib/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/static/css/sign.css}">
    <script type="text/javascript" th:inline="javascript">
        (window.top === window.self) || (window.top.location.href = window.self.location.href);
        window.BUGUCMS_BASE_URL = /*[[@{/}]]*/ '/';
    </script>
</head>
<body class="layui-unselect lau-sign-body">

<div class="layui-form layui-form-pane lau-sign-form">
    <h1 class="lau-sign-title">重置密码</h1>
    <p class="lau-sign-subtitle" th:text="${siteConfigDTO.webslogen}">轻量级、插件化的内容管理系统</p>
    <div class="layui-form-item">
        <label class="layui-form-label"><i class="layui-icon layui-icon-username"></i> 账　号</label>
        <div class="layui-input-block">
            <input type="text" name="phone" placeholder="请输入注册时的手机号码" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"><i class="layui-icon layui-icon-vercode"></i> 验证码</label>
        <div class="layui-input-block lau-sign-code">
            <input type="text" name="captcha" placeholder="请输入图形验证码" autocomplete="off" class="layui-input">
            <img src="https://www.oschina.net/action/user/captcha" alt="图形验证码" class="lau-sign-captcha">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"><i class="layui-icon layui-icon-vercode"></i> 验证码</label>
        <div class="layui-input-block lau-sign-code">
            <input type="text" name="code" placeholder="请输入短信验证码" autocomplete="off" class="layui-input">
            <button type="button" class="layui-btn layui-btn-primary lau-sign-sms">获取验证码</button>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"><i class="layui-icon layui-icon-password"></i> 密　码</label>
        <div class="layui-input-block">
            <input type="password" name="password" placeholder="请输入密码" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"><i class="layui-icon layui-icon-password"></i> 密　码</label>
        <div class="layui-input-block">
            <input type="password" name="repassword" placeholder="请再次输入密码" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <button type="button" class="layui-btn layui-btn-fluid" lay-submit lay-filter="forgot">重 置</button>
    </div>
</div>
<div class="layui-trans lau-sign-footer">
    <p>@ 2018 <a th:href="${siteConfigDTO.weburl}" target="_blank" th:text="${siteConfigDTO.domain}">www.terwergreen.com</a> MIT License</p>
    <p>
        <span><a href="http://www.terwergreen.com/" target="_blank">获取授权</a></span>
        <span><a href="http://www.terwergreen.com/" target="_blank">在线演示</a></span>
        <span><a href="https://github.com/terwer/bugucms" target="_blank">源码下载</a></span>
        <span><a href="mailto:youweics@sina.com" target="_blank">联系作者</a></span>
    </p>
</div>

</body>
<script type="text/javascript" th:src="@{/static/lib/layui/layui.js}"></script>
<script>
    layui.config({base: BUGUCMS_BASE_URL + 'static/js/'}).use('forgot');
    layui.config({base: BUGUCMS_BASE_URL + 'static/lib/'}).extend({tips: 'bugucms/extend/tips'}).use('tips');
</script>
</html>